<a href="{{ url('inbox') }}" onclick="this.remove()">
    <div id="notification" class="newmessage">
        You have {{ unreadMessages }} new message{% if unreadMessages > 1 %}s{% endif %}
    </div>
</a>
