<div class="box collapse-box" id="stats">
  <div class="title">
    <div class="x collapse-button">
      -/+
    </div>
    Statistics
  </div>
  <div class="collapse-content">
    <div class="content_top">
    </div>
    <div class="content">
      %1$s User{if %1$s!=1}s{/if} Online:
      <div id="statusers">
        %2$s{if %1$s!=0&&%3$s>0},
        {/if}{if %3$s!=0}%3$s guest{/if}{if %3$s!=1&&%3$s!=0}s{/if}
      </div>
      <div class="userstoday">
        %4$s User{if %4$s!=1}s{/if} Online Today: %5$s <br />
        %10$s
      </div>
      <div class="stats">
        Our <strong>%6$s</strong> users have made
        <strong>%7$s</strong> topics with <strong>%8$s</strong> posts.
        Newest Member: %9$s
      </div>
    </div>
    <div class="content_bottom">
    </div>
  </div>
</div>
