Last Post:
<a href="{{ url('topic', { id: forum.lastPostTopic, slug: forum.lastPostTopicTitle|slugify, getlast: 1 }) }}">
    {%- if forum.lastPostTopicTitle -%}
        {{- forum.lastPostTopicTitle|wordFilter -}}
    {%- else -%}
        - - - - -
    {%- endif -%}
</a><br>
By
{% if lastPostUser -%}
    {%- include 'user-link.html.twig' with { user: lastPostUser } only -%}
{%- else -%}
    None
{%- endif -%},

{% if forum.lastPostDate -%}
    {{- forum.lastPostDate|autoDate -}}
{%- else -%}
    - - - - -
{%- endif -%}
