Last Post:
<a href="{{ url('topic', { id: forum.lastPostTopic, slug: form.lastPost|slugify, getlast: 1 }) }}">
    {%- if forum.lastPostTopicTitle -%}
        {{- forum.lastPostTopicTitle -}}
    {%- else -%}
        - - - - -
    {%- endif -%}
</a><br>
By
{% if lastPostUser -%}
    {%- include 'global/user-link.html.twig' with { user: lastPostUser } only -%}
{%- else -%}
    None
{%- endif -%},

{% if forum.lastPostDate -%}
    {{- forum.lastPostDate|autodate -}}
{%- else -%}
    - - - - -s
{%- endif -%}
