.quote {
    border: 1px solid #aaf;
    background: url('icons/quote.png') top right no-repeat #e0e0ff;
    padding: 10px;
}

.quote .quotee {
    margin: -10px 0 10px -5px;
    font-weight: bold;
    background: #fff;
}

.code {
    border: 1px solid #aaf;
    background: #e0e0ff;
    padding: 10px;
    font-family: Consolas, Fixedsys, monospace;
    font-size: 12px;
    white-space: preserve;
}

.spoilertext {
    display: inline-block;
    background: #fff;
    color: #fff;
    border: 1px solid #aaf;
}

.spoilertext * {
    visibility: hidden;
}

.spoilertext:hover * {
    visibility: visible;
}

.spoilertext:hover {
    background: #fff;
    color: #000;
}
