html {
    font-size: 62.5%; /* set 1rem to 10px */
    text-size-adjust: none;
}

body {
    background: url('img/bg.jpg');
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    color: #004;
    text-align: center;
    overflow-y: scroll;
    word-wrap: break-word;
}

img {
    border: 0;
    max-width: 680px;
}

a:active,
a:visited,
a:link {
    color: #1d71cf;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

textarea {
    background: #fff;
    border: 1px solid #000;
}

/* Misc (Global) */
.error {
    background: #fcc;
    border: 1px solid #f33;
    margin: 5px;
    padding: 5px;
}

.success {
    background: #cfc;
    border: 1px solid #3f3;
    margin: 5px;
    padding: 5px;
}

.clear {
    clear: both;
}

.center {
    text-align: center;
}

/* Avatars */
.avatar img {
    max-width: 150px;
    max-height: 150px;
}

/* All windows */
.window {
    background: url('img/shadowAlpha.png') bottom right;
    position: fixed;
}

.window .title {
    padding: 5px 20px;
    cursor: move;
    text-align: center;
    background: url('img/boxgrad.png') bottom;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.window .title .controls {
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 2px;
    font-size: smaller;
}

.window .title .controls div {
    display: inline-block;
    padding: 0 5px;
}

.window.minimized .content {
    top: 0;
    left: 0;
    display: none;
}

.window.minimized .title {
    top: 0;
    left: 0;
    padding-right: 50px;
}

.window .resize {
    cursor: nw-resize;
    width: 10px;
    height: 10px;
    background: url('icons/cornerdrag.png');
    position: absolute;
}

.window .content {
    text-align: left;
    background: #fff;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    padding-bottom: 5px;
}

.window .content,
.window .title {
    position: relative;
    top: -5px;
    left: -5px;
    border: 1px solid #000;
}

/* IM windows */
.im .ims {
    padding: 5px;
    width: 200px;
    height: 100px;
    overflow: auto;
}

.im .ims div {
    background: #fff;
}

.im .content {
    border-radius: 0;
    padding: 0;
}

.im form {
    display: block;
    width: 100%;
    border-top: 1px solid #555;
}

.im input[type='text'] {
    padding: 5px;
    width: 95%;
    border: none;
}

.im .you .name {
    color: #f00;
}

.im .them .name {
    color: #00f;
}

.im .action,
.im .action .you,
.im .action .them {
    font-style: italic;
}

.im .action {
    color: #522994;
}

.im .offline {
    display: none;
}

.im.offline .offline {
    display: block;
    color: #600;
    background: #ecc;
    font-style: italic;
    padding: 5px;
    font-size: 1rem;
}

.immenu,
.emotewin {
    border: 1px solid #000;
    background: #eef;
}

/* User Control Panel */
#ucp .content {
    background: url('img/shade.png') #ccf bottom repeat-x;
}

#ucp textarea {
    width: 100%;
    height: 100px;
}

#ucp label {
    display: inline-block;
    width: 120px;
}

#ucp .leftbar {
    float: left;
    width: 170px;
}

#ucp .leftbar .icon {
    margin: 10px;
    font-size: 1.2rem;
    padding: 2px 25px;
    background: url('icons/inboxicons.png') 0 0 no-repeat;
}

#ucp .leftbar h2 {
    margin: 0;
    background: #ddf;
    font-size: 1.6rem;
    border: 1px solid #fff;
    padding: 3px;
}

#ucp .icon.inbox {
    background-position: 0 -32px;
}

#ucp .icon.sent {
    background-position: 0 -64px;
}

#ucp .icon.flagged {
    background-position: 0 -96px;
}

#ucp .icon.compose {
    background-position: 0 -128px;
}

#ucp .leftbar a {
    display: block;
    margin: 5px 10px;
}

#ucp .error {
    margin: 5px;
    margin-bottom: 15px;
    padding: 8px;
    text-align: left;
}

#ucppage {
    background: url('img/shade.png') repeat-x bottom #fff;
    border-left: 1px solid #000;
    margin-left: 170px;
    padding: 20px;
    min-height: 400px;
}

#ucppage h2 {
    border-bottom: 1px solid #aaf;
    font-size: 2rem;
}

#ucppage .tooltip {
    font-size: 1.4rem;
    background: url('icons/help.png') no-repeat;
    text-indent: -1000px;
    display: inline-block;
    width: 20px;
    border: none;
    cursor: help;
}

/* Mod CP */
#modcp .content {
    background: #ccf;
}

#modcp .minibox {
    border: 1px solid #000;
    margin: 10px;
}

#modcp .minibox .title {
    background: #cdf;
    padding: 5px;
}

#modcp .minibox .content {
    padding: 5px;
    background: #fff;
}

#modcp .minibox .post {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

#modcp .leftbar {
    float: left;
    padding: 10px;
    width: 150px;
}

#modcp .modcppage {
    border-left: 1px solid #000;
    margin-left: 170px;
    padding: 10px;
    background: #fff;
    min-height: 200px;
}

#modcp .modcppage .error {
    margin: 5px;
    padding: 5px;
}

#modcp td {
    vertical-align: top;
}

#modcp textarea {
    width: 500px;
    height: 100px;
}

.inbox .listing {
    border: 1px solid #99c;
    font-size: 1.4rem;
    width: 100%;
    border-collapse: collapse;
}

.inbox .listing .unread {
    font-weight: bold;
}

.inbox .listing td {
    padding: 2px;
    border: 1px solid #99c;
    border-style: solid none;
    background: #eef;
}

.inbox .listing tr:hover td {
    background: #fff;
}

.inbox .listing th {
    padding: 8px 2px;
    color: #005;
    text-align: left;
    background: #ddf;
    font-weight: normal;
}

.inbox .listing .center {
    text-align: center;
}

.inbox .compose {
    font-weight: bold;
    background-position: 0 -128px;
}

.inbox .compose a {
    color: #090;
}

.inbox .composeform {
    background: #eef;
    padding: 10px;
    border: 1px solid #669;
}

.inbox .composeform label {
    margin-bottom: 10px;
    display: inline-block;
    width: 100px;
}

.inbox .composeform textarea {
    width: 100%;
    height: 300px;
}

.inbox .switch.flag {
    border: none;
    height: 16px;
    background: url('icons/flags.png') no-repeat;
    background-position: center 0;
}

.inbox .messageview {
    border: 1px solid #000;
    background: #eef;
    padding: 10px;
}

.inbox .message {
    margin-top: 10px;
    background: #fff;
    border: 1px solid #669;
    padding: 10px;
}

.inbox .messageinfo {
    background: #f5f5ff;
    font-size: 1.4rem;
}

.inbox .messageinfo .title {
    font-weight: bold;
}

.inbox .messagebuttons {
    margin-top: 10px;
    text-align: left;
}

/* Shoutbox */
#shoutbox {
    background: none;
}

.shoutbox {
    display: flex;
    flex-wrap: wrap;
}

.shouts {
    padding: 3px;
    background: #eef;
    border-right: 1px solid #99c;
    font:
        1.4rem Arial,
        sans-serif;
    max-width: 700px;
    flex: 1;
    min-width: 200px;
}

.shout {
    background: #eef;
}

.shout.highlight {
    background: #ff0;
}

.shoutform {
    align-content: center;
    margin: 10px 20px;
}

#shoutbox .title {
    background: #cdf;
    color: #005;
}

#shoutbox .title a {
    color: #229;
}

#shoutbox .action,
#shoutbox .action a,
.sbhistory .action,
.sbhistory .action a {
    font-style: italic;
    color: #f00;
}

#shoutbox .action a,
.sbhistory .action a {
    color: #a00;
}

.shout img {
    max-height: 150px;
    max-width: 150px;
}

.shout .delete {
    margin-right: 10px;
    display: none;
}

.shout:hover .delete {
    display: inline;
}

.shout .avatar {
    max-height: 20px;
    max-width: 20px;
    vertical-align: middle;
}

.sbhistory .shout .delete {
    margin-right: 10px;
}

.sbhistory {
    padding: 10px;
}

#buddylist .name,
#buddylist .status {
    margin-left: 50px;
}

/* Buddy/Contacts List */
#buddylist .online .name {
    color: #1d71cf;
}

#buddylist .offline .name {
    color: #ccc;
}

#buddylist .blocked .name {
    color: #f00;
}

#buddylist .content {
    height: 300px;
    width: 200px;
    overflow-y: auto;
}

#buddylist .contact {
    background: #fff;
    position: relative;
    cursor: pointer;
    min-height: 32px;
    padding: 5px;
    border-bottom: 1px solid #aaf;
}

#buddylist .contact:hover {
    background: #ddf;
}

#buddylist .avatar img {
    max-width: 32px;
    max-height: 32px;
}

#buddylist .avatar {
    position: absolute;
}

#buddylist .status {
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.2rem;
    color: #555;
}

#buddylist .contact:hover .status {
    white-space: normal;
}

.contact-card .content {
    display: flex;
}

.contact-card .content a {
    font-size: 1.4rem;
}

.contact-card .right {
    padding: 10px;
    width: 150px;
}

.contact-card .left {
    padding: 10px 30px;
    max-width: 150px;
}

.contact-card .username {
    font-weight: bold;
    padding: 10px 0;
}

/* stylelint-disable-next-line selector-class-pattern */
.contact-card .contact_details {
    font-size: 1.2rem;
    margin-top: 20px;
}

/* stylelint-disable-next-line selector-class-pattern */
.contact-card .contact_details a:hover {
    text-decoration: none;
}

/* User profiles */
.userprofile {
    margin: 30px 5px;
}

.userprofile .leftbar {
    float: left;
    width: 200px;
    border: 1px solid #000;
    background: #ddf;
}

.userprofile .leftbar .username {
    background: #eef;
    border-bottom: 1px solid #aaf;
    padding: 0.5em;
    font-weight: bold;
}

.userprofile .username .moderate {
    visibility: visible;
}

.userprofile .leftbar .avatar {
    margin-top: 20px;
    text-align: center;
}

.userprofile .leftbar .avatar img {
    border: 1px solid #000;
}

.userprofile .leftbar .usertitle {
    font-size: 1rem;
    margin: 1px;
    text-align: center;
}

.userprofile .infobox {
    background: #ddd;
    margin: 20px 5px 10px;
    border: 1px solid #35485e;
    padding: 5px;
}

.userprofile .infobox .content {
    font-size: 1rem;
}

.userprofile .infobox div {
    font-size: 1rem;
    margin: 5px;
}

.userprofile .rightbar {
    margin-left: 210px;
}

.userprofile .rightbar .post {
    border-bottom: 1px solid #35485e;
    padding: 10px;
}

.userprofile .rightbar .postdate {
    font-size: 1rem;
    margin: 10px;
    background: #ccf;
    border: 1px solid #339;
    padding: 5px;
}

.userprofile .rightbar .signature {
    border-top: 1px dashed #ccc;
    margin: 10px 0;
    padding-top: 10px;
}

.userprofile #pfbox {
    border: 1px solid #000;
    padding: 10px;
}

.userprofile .pftabs a {
    margin-left: 5px;
    display: inline-block;
    padding: 0.5em;
    border: 1px solid #000;
    border-bottom: none;
    background: #35485e;
    color: #fff;
}

.userprofile .pftabs a.active {
    background: #fff;
    color: #000;
}

.userprofile .comment {
    position: relative;
    min-height: 80px;
    border-bottom: 1px solid #35485e;
    padding: 10px;
}

.userprofile .comment img {
    max-height: 50px;
    max-width: 50px;
}

.userprofile .comment .userdata {
    position: absolute;
}

.userprofile .comment .commenttext {
    margin-left: 100px;
    padding: 10px;
}

.userprofile .comment .date {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    font-size: smaller;
    color: #aaf;
}

.userprofile .contacts {
    display: inline-block;
}

.userprofile .contacts .contact {
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    padding: 30px 10px;
    min-height: 80px;
    width: 120px;
    float: left;
    text-align: center;
}

.userprofile .contacts .contact:hover {
    background: #ddf;
    border: 1px solid #35485e;
}

.userprofile .contacts .contact .avatar img {
    max-width: 50px;
    max-height: 50px;
}

.badges .badge {
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    grid-template-areas:
        'badgeImage title awardDate'
        'badgeImage description description'
        'badgeImage reason reason';
    border-bottom: 1px solid #000;
    padding: 10px 5px;
}

.badges .badge .badge-title {
    grid-area: title;
    margin: 0;
}

.badges .badge .badge-image {
    grid-area: badgeImage;
}

.badges .badge .badge-image img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.badges .badge .description {
    grid-area: description;
}

.badges .badge .award-date {
    grid-area: awardDate;
    text-align: right;
}

.badges .badge .reason {
    grid-area: reason;
}

/* Activity (global) */
.activity {
    padding: 10px 10px 10px 36px;
    background: url('icons/activity.png') no-repeat;
}

/* stylelint-disable-next-line selector-class-pattern */
.activity.new_post {
    background-position: 0 -64px;
}

/* stylelint-disable-next-line selector-class-pattern */
.activity.profile_name_change {
    background-position: 0 -128px;
}

/* stylelint-disable-next-line selector-class-pattern */
.activity.profile_comment {
    background-position: 0 -194px;
}

/* stylelint-disable-next-line selector-class-pattern */
.activity.buddy_add {
    background-position: 0 -258px;
}

/* Surrounding Container/Template for Board */
#container {
    background: #fff;
    margin: 5px auto;
    max-width: 940px;
    text-align: left;
    box-shadow:
        rgb(0 0 0 / 20%) -5px 0 2px,
        rgb(0 0 0 / 20%) 5px 0 2px;
    border-radius: 0 0 15px 15px;
}

.head {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 158px;
    background: #1d72d0;
    background-image: linear-gradient(#1d72d0, #2c476d, #1d72d0);
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

.head::before {
    content: '';
    position: absolute;
    inset: 3px;
    background-image: linear-gradient(
        #75a7e0 5%,
        #3f5677 50%,
        #275690 70%,
        #1d72d0 85%
    );
    filter: blur(1px);
}

.head::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(#2c476d 50%, rgb(29 114 208 / 50%));
    clip-path: ellipse(60% 50% at 50% 100%);
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.navigation ul li {
    margin-right: 1px;
    padding: 11px 20px;
    white-space: nowrap;
    background: linear-gradient(#2f2f2f, black);
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(white, #393939) 1;
    border-bottom: 0;
}

.navigation .spacer {
    flex: 1;
    padding: 0;
}

.navigation ul li.active {
    background: linear-gradient(#384b61, #22354b);
}

.navigation a {
    color: #fff;
}

.footer {
    text-align: center;
    margin: 10px;
}

#body {
    padding-bottom: 20px;
}

/* Logo */
#logo {
    z-index: 1;
    flex: 1;
    margin: 20px 40px;
    align-self: center;
}

/* UserBox */
#userbox {
    background: rgb(27 46 79 / 50%);
    border-image: linear-gradient(#435f80 20%, #7eaee4) 1;
    border-style: solid;
    border-width: 3px;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 40%);
    box-sizing: border-box;
    color: #fff;
    padding: 20px;
    position: relative;
    z-index: 1;
}

#userbox form {
    margin: 0;
    font-size: 1.6rem;
}

#userbox form input {
    width: 200px;
}

#userbox form input[type='submit'] {
    width: auto;
}

#userbox .logout,
#userbox .register {
    color: #0ff;
}

#userbox a:first-child {
    color: #fff;
}

#userbox .welcome {
    text-align: center;
}

#userbox .lastvisit {
    margin: 15px 0;
    color: #cfc;
    text-align: center;
}

#userbox .messages {
    float: left;
    width: 50%;
}

#userbox .settings {
    text-align: right;
    float: left;
    width: 50%;
}

#userbox .settings a {
    background: url('icons/wrench.png') no-repeat;
    padding-left: 20px;
    color: #fff;
}

#userbox .forgot {
    font-size: smaller;
    float: right;
    color: #fff;
}

#userbox a.num-messages {
    color: #fff;
}

/* Breadcrumbs */
#path {
    font:
        1.4rem Arial,
        sans-serif;
    background: #eef;
    border: 1px solid #99f;
    border-style: solid none;
    margin-top: 10px;
    padding: 0.5em 0 0.5em 1em;
}

#path ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#path ul li {
    background: url('icons/pathsplitter.png') no-repeat;
    padding-left: 20px;
    margin-right: 10px;
    float: left;
}

#path ul li:first-child {
    background: none;
    padding-left: 0;
}

#path a {
    color: #000;
}

/* Board Index */
.idxtools {
    font-size: smaller;
    margin: 10px;
}

.boardindex {
    width: 100%;
    border-collapse: collapse;
    font:
        1.2rem Arial,
        sans-serif;
}

.boardindex td {
    background: url('img/shade.png') bottom repeat-x;
    border: 1px solid #99c;
}

/* stylelint-disable-next-line selector-class-pattern */
.boardindex .last_post {
    background: #e0e0ff;
    padding: 10px;
    border-right: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.boardindex .last_post::first-letter {
    background: url('icons/last.gif') center left no-repeat;
    padding-left: 15px;
}

/* stylelint-disable-next-line selector-class-pattern */
.boardindex .last_post a {
    color: #e77700;
}

/* stylelint-disable-next-line selector-class-pattern */
.boardindex .f_icon {
    border-style: solid none;
    background-color: #f6f6ff;
    width: 40px;
    vertical-align: middle;
    text-align: center;
}

.boardindex .unread .forum a {
    font-weight: bold;
}

.boardindex .forum {
    border-left: none;
    background-color: #f6f6ff;
    padding: 20px;
    padding-left: 10px;
}

.boardindex .forum a {
    font:
        1.4rem Arial,
        sans-serif;
}

.boardindex .subforums,
.boardindex .ledby,
.boardindex .subforums a,
.boardindex .ledby a {
    font-style: italic;
    font-size: 1rem;
}

/* stylelint-disable-next-line selector-class-pattern */
.boardindex .item_1,
/* stylelint-disable-next-line selector-class-pattern */
.boardindex .item_2 {
    font-size: 1.2rem;
    width: 20vw;
    max-width: 165px;
    background: #f6f6f6;
    text-align: center;
    padding: 5px 2px;
    border-right: none;
}

/* Forum Listings */
.forumindex {
    width: 100%;
    border-collapse: collapse;
    font:
        1.2rem Arial,
        sans-serif;
}

.forumindex td {
    padding: 10px;
    background: url('img/shade.png') bottom repeat-x;
    border: 1px solid #99c;
}

/* stylelint-disable-next-line selector-class-pattern */
.forumindex .f_icon {
    width: 12px;
    padding: 0;
    background: #fff;
    display: none;
}

.forumindex .unread .topic {
    font-weight: bold;
}

.forumindex .topic {
    background-color: #fff;
    border-left: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.forumindex .last_post {
    width: 20vw;
    max-width: 250px;
    background-color: #e0e0ff;
}

/* stylelint-disable-next-line selector-class-pattern */
.forumindex .last_post::first-letter {
    background: url('icons/last.gif') center left no-repeat;
    padding-left: 15px;
}

/* stylelint-disable-next-line selector-class-pattern */
.forumindex .item_1,
/* stylelint-disable-next-line selector-class-pattern */
.forumindex .item_2 {
    width: 10vw;
    max-width: 75px;
    text-align: center;
    background-color: #ececff;
}

.forumindex .locked .topic > a:first-child {
    background: url('icons/lock.png') left no-repeat;
    padding-left: 14px;
}

.forumindex .pinned .topic > a:first-child {
    font-style: italic;
    background: url('icons/pin.gif') center left no-repeat;
    padding-left: 14px;
}

.forumindex .error {
    margin: 0;
    text-align: center;
    padding: 20px;
}

.moderate {
    background: url('icons/posticons.png');
    text-indent: -1000px;
    display: block;
    visibility: hidden;
    width: 16px;
    height: 16px;
    float: right;
}

.forumindex .moderate.selected,
.forumindex tr:hover .moderate {
    visibility: visible;
}

.forum-buttons-top {
    text-align: right;
    margin: 10px;
}

/* Subforums (in forum listings) */
.subindex {
    width: 100%;
    border-collapse: collapse;
    font:
        1.2rem Arial,
        sans-serif;
}

.subindex td {
    background: url('img/shade.png') bottom repeat-x;
    border: 1px solid #99c;
}

/* stylelint-disable-next-line selector-class-pattern */
.subindex .last_post {
    background-color: #e0e0ff;
    padding: 10px;
    border-right: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.subindex .last_post a {
    color: #e77700;
}

/* stylelint-disable-next-line selector-class-pattern */
.subindex .last_post::first-letter {
    background: url('icons/last.gif') center left no-repeat;
    padding-left: 15px;
}

/* stylelint-disable-next-line selector-class-pattern */
.subindex .f_icon {
    border-style: solid none;
    background-color: #f6f6ff;
    width: 40px;
    vertical-align: middle;
    text-align: center;
}

.subindex .forum {
    border-left: none;
    background-color: #f6f6ff;
    padding: 20px;
    padding-left: 10px;
}

.subindex .forum a {
    font:
        1.4rem Arial,
        sans-serif;
}

.subindex .unread .forum a {
    font-weight: bold;
}

/* stylelint-disable-next-line selector-class-pattern */
.subindex .item_1,
/* stylelint-disable-next-line selector-class-pattern */
.subindex .item_2 {
    font-size: 1.2rem;
    width: 20vw;
    max-width: 165px;
    background: #f6f6f6;
    text-align: center;
    padding: 5px 2px;
    border-right: none;
}

/* Topic View */
#intopic {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

#intopic .topic-post-row {
    clear: both;
    background: #e0e0ff url('img/shade.png') bottom repeat-x;
}

#intopic td {
    vertical-align: top;
    border: 1px solid #000;
}

#intopic .userdata {
    text-align: center;
    width: 150px;
}

#intopic .avatar {
    margin-top: 10px;
}

#intopic .avatar img {
    border: 1px solid #000;
}

#intopic .username {
    background: #eef;
    padding: 3px;
    border-bottom: 1px solid #aaf;
}

#intopic .username a {
    font-weight: bold;
}

#intopic .signature {
    font-size: smaller;
    display: inline-block;
    margin: 20px;
    border-top: 1px dashed #ccc;
}

#intopic .edit,
#intopic .quotepost {
    padding-left: 18px;
    padding-bottom: 2px;
    background: url('icons/posticons.png') no-repeat top left;
}

#intopic textarea {
    width: 100%;
    height: 200px;
}

#intopic .modpost.selected {
    color: #090;
}

#intopic .quotepost {
    background-position: 0 -32px;
}

#intopic .post {
    line-height: 140%;
    background: #fff;
    max-width: 700px;
}

#intopic .attachment {
    font-size: smaller;
}

/* stylelint-disable-next-line selector-class-pattern */
#intopic .post_content {
    padding: 20px;
}

#intopic .posttop {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

/* stylelint-disable-next-line selector-class-pattern */
#intopic .post_buttons {
    flex: 1;
    display: flex;
    gap: 5px;
    font-size: smaller;
    text-align: left;
    padding: 4px;
}

/* stylelint-disable-next-line selector-class-pattern */
#intopic .post_info {
    padding: 4px;
    text-align: right;
    color: #55c;
    font-size: smaller;
}

#intopic .postbottom {
    height: 1em;
    text-align: right;
    border-top: hidden;
    padding: 5px;
    background: #fff;
}

/* Post Ratings */
#intopic .postrating {
    min-height: 1.4em;
    padding-left: 20px;
}

#intopic .postrating .form {
    display: none;
}

#intopic .postrating .form img {
    opacity: 0.5;
}

#intopic .topic-post-row:hover .postrating .showrating {
    display: none;
}

#intopic .topic-post-row:hover .postrating .form {
    display: block;
}

#intopic .postrating a:hover img {
    opacity: 1;
}

#intopic .opengraph {
    border: 1px solid #192c44;
    border-left-width: 5px;
    background: #eef;
    max-width: 80%;
    margin: 10px 0;
    padding: 10px;
}

#intopic .opengraph img {
    max-width: 100%;
    max-height: 160px;
}

#intopic .opengraph h4 {
    margin: 1em 0;
    font-size: 1.2rem;
}

#intopic .opengraph p {
    font-size: 1.2rem;
}

/* stylelint-disable-next-line selector-class-pattern */
.postrating_list {
    position: absolute;
    overflow: hidden;
    background: #eef;
    border: 1px solid #99f;
    font-size: smaller;
}

/* stylelint-disable-next-line selector-class-pattern */
.postrating_list .column {
    width: 90px;
    float: left;
}

/* stylelint-disable-next-line selector-class-pattern */
.postrating_list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px dashed #99f;
}

/* end post ratings */
#intopic .userstats {
    font-size: smaller;
    text-align: left;
    padding: 10px;
    background: #ccf;
    border: 1px solid #99f;
    margin: 10px;
}

#intopic .usertitle {
    font-size: 0.6em;
}

.topic-buttons-top,
.topic-buttons-bottom {
    margin: 10px;
    text-align: right;
}

.topic-tools {
    float: right;
}

.topic-reply-form textarea {
    width: 100%;
    height: 200px;
}

#poll {
    margin-bottom: 10px;
}

#poll .content {
    background: #eef;
    padding: 10px;
}

#poll .title,
#poll .buttons {
    text-align: center;
}

#poll .choice {
    padding: 5px;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #ccf;
}

#poll .choice:hover {
    background: #ddf;
    border: 1px solid #000;
}

#poll table {
    border-collapse: collapse;
    background: #fff;
    width: 100%;
}

#poll td {
    border: 1px solid #ccf;
    padding: 5px;
}

#poll .bar {
    background: url('img/pollbar1.png');
    height: 16px;
    display: inline-block;
    border: 1px solid #1234b4;
}

#poll .numvotes {
    width: 100px;
    text-align: center;
}

#poll .totalvotes {
    text-align: center;
    font-weight: bold;
}

/* New Topic Form */
.topicform {
    border: 1px solid #000;
    padding: 20px;
    background: #eef;
}

.topicform input[type='text'] {
    width: 500px;
}

.topicform label {
    display: inline-block;
    width: 100px;
    padding-bottom: 20px;
}

.topicform textarea {
    height: 300px;
    width: 100%;
}

.topicform .buttons {
    text-align: center;
    margin-top: 20px;
}

.postoptions {
    margin-bottom: 10px;
}

.postoptions .uploadbutton,
.postoptions .addpoll {
    padding: 0 20px;
    margin: 10px;
    background: url('icons/postoptions.png') no-repeat top left;
}

.postoptions .uploadbutton {
    background-position: 0 -32px;
}

.topicform .files .file {
    border: 1px solid #ccf;
    background: #ddf;
}

.topicform .files .file .name {
    display: inline;
}

.topicform .progressbar {
    margin-left: 10px;
    display: inline-block;
    width: 200px;
    height: 20px;
    border: 1px solid #000;
    background: #fff;
}

.topicform .progressbar .progress {
    height: 100%;
    background: #2663c3;
}

#polloptions {
    padding: 10px;
    background: #ddf;
    border: 1px solid #ccf;
}

#polloptions textarea {
    height: 200px;
    width: 100%;
    background: #fff url('img/shade.png') bottom repeat-x;
}

#qreply textarea {
    border-style: none none solid;
    min-width: 400px;
}

/* New Post Form */
.postform {
    padding: 10px;
    background: #eef;
}

.postform textarea {
    height: 300px;
    width: 100%;
}

.postform .uploadbutton {
    background: url('icons/postoptions.png') no-repeat 0 -32px;
    padding-left: 16px;
    width: 100px;
    height: 1em;
}

.postform .files .file {
    border: 1px solid #ccf;
    background: #ddf;
}

.postform .files .file .name {
    display: inline-block;
    width: 300px;
    overflow: hidden;
}

.postform .progressbar {
    display: inline-block;
    width: 200px;
    height: 1.1em;
    border: 1px solid #000;
    background: #fff;
}

.postform .progressbar .progress {
    height: 100%;
    background: #2663c3;
}

.postform .buttons {
    text-align: center;
}

/* Search */
#searchresults .content {
    padding: 10px;
}

.searchresult {
    border-bottom: 1px solid #aaf;
    padding: 10px;
}

.searchresult .highlight {
    background: #ffa;
    color: #f00;
}

#searchadvanced {
    width: 100%;
    margin: 10px;
    border-collapse: collapse;
    border-style: hidden;
}

#searchadvanced label {
    display: inline-block;
    width: 50px;
}

#searchadvanced td {
    text-align: center;
    vertical-align: top;
    padding: 10px;
    border-right: 1px solid #000;
}

#searchadvanced th {
    text-align: center;
    padding-left: 10px;
}

/* Ticker */
#ticker .tick {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 1px solid #ccc;
}

#ticker .tick-title {
    flex: 1;
    margin: 0 5px;
}

#ticker .date {
    min-width: 100px;
    font-size: 1rem;
    padding-top: 3px;
}

#ticker .by {
    overflow: hidden;
    text-align: right;
}

/* Calendar */
.calendar {
    width: 100%;
    empty-cells: hide;
}

.calendar .month {
    font-size: 2.5rem;
    padding: 20px;
}

.calendar th {
    text-align: center;
}

.calendar td {
    height: 100px;
    width: 14%;
    border: 1px solid #000;
}

.calendar td > div {
    height: 100%;
    position: relative;
}

.calendar .today {
    background: #cdf;
}

.calendar .birthdays {
    font-size: smaller;
    position: absolute;
    bottom: 0;
}

.calendar .birthdays::before {
    content: '🎂';
}

.no-emoji .calendar .birthdays::before {
    content: 'Birthdays: ';
}

/* Boxes/Collapse Boxes (Global) */

/* DISCLAIMER: the borders around the title are actually not borders,
 * but an image behind it (in .box)
 * if you want to remove that border, just remove the background from .box
 * and remove the margin on .box>.title */
.box {
    margin: 10px 5px;
    background: url('img/silver_grad.png') repeat-x;
    border: 1px solid #000;
}

.box > .title {
    position: relative;
    margin: 1px 1px 0;
    background: url('img/boxgrad.png') repeat-x #000;
    padding: 7px;
    color: #fff;
}

.box > .title .x {
    background: url('icons/collapse.png');
    position: absolute;
    top: 0.75em;
    right: 10px;
    width: 9px;
    height: 9px;
    text-indent: 10px;
    overflow: hidden;
    cursor: pointer;
}

.box.collapsed .title .x {
    background-position: 0 -9px;
}

/* stylelint-disable-next-line selector-class-pattern */
.box .content_top {
    display: none;
}

.box .content {
    background: #fff;
}

.box .content > .error {
    margin: 0;
    padding: 10px;
}

/* stylelint-disable-next-line selector-class-pattern */
.box .content_bottom {
    height: 5px;
    background: #bbd;
    border-top: 3px solid #ddf;
}

/* Function-Specific */
#notification,
#modbox {
    background: #fff;
    border: 1px solid #000;
    bottom: 10px;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 20px;
    position: fixed;
    right: 10px;
    text-align: left;
    width: 280px;
}

#notification.newmessage {
    padding-left: 60px;
    background: url('icons/newmessage.png') no-repeat 20px center #fff;
}

.pages .active {
    color: #f55;
    text-decoration: underline;
}

.pages-top,
.pages-bottom {
    position: absolute;
    margin-left: 10px;
}

.sort {
    background: url('icons/collapse.png') no-repeat;
    padding-right: 18px;
    display: inline-block;
    background-position: right -56px;
}

.sort.desc {
    background-position: right -30px;
}

#status {
    display: block;
    background: url('icons/status.png') top no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 3px;
    left: 3px;
}

#status.invisible {
    background-position: bottom;
}

/* Login Form (Full) */
.login .content {
    padding: 10px;
}

.login label {
    display: inline-block;
    width: 100px;
}

/* Register Form */
.register .content {
    padding: 10px;
}

.register .content label {
    display: inline-block;
    width: 100px;
}

/* Users Online */
#statusers {
    display: inline;
}

#statusers a {
    margin-left: 5px;
    white-space: nowrap;
}

#statusers .idle {
    font-style: italic;
}

#stats .content {
    padding: 20px;
    background: url('img/shade.png') bottom repeat-x #fff;
}

#stats .userstoday {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccf;
}

#stats .stats {
    margin-top: 10px;
    padding: 10px 25px;
    background: url('icons/boardstats.png') left center no-repeat;
    border-top: 1px solid #ccf;
}

#statusers a::after {
    content: ',';
}

#statusers a:last-child::after {
    content: '';
}

/* Member List */
#memberlist {
    clear: both;
}

#memberlist table {
    width: 100%;
    border-collapse: collapse;
}

#memberlist th {
    padding: 10px;
}

#memberlist .avatar {
    width: 50px;
}

#memberlist .avatar img {
    max-width: 50px;
    max-height: 50px;
}

#memberlist td {
    padding: 10px;
    border-top: 1px solid #ccc;
}

/* Member/Group Specific */
a.birthday::before {
    content: '🎂';
}

a.mgroup2 {
    color: #009;
}

a.mgroup4 {
    color: #a00;
    text-decoration: line-through;
}

/* BBcodes */
.quote {
    border: 1px solid #aaf;
    background: url('icons/quote.png') top right no-repeat #e0e0ff;
    padding: 10px;
}

.quote .quote,
.quote .code {
    background-color: #fff;
}

.quote .quotee {
    margin: -10px 0 10px -5px;
    font-weight: bold;
}

.code {
    border: 1px solid #aaf;
    background: #e0e0ff;
    padding: 10px;
    font-family: Consolas, Fixedsys, monospace;
    font-size: 1.2rem;
    white-space: preserve;
}

.spoilertext {
    display: inline-block;
    background: #fff;
    color: #fff;
    border: 1px solid #aaf;
}

.spoilertext * {
    visibility: hidden;
}

.spoilertext:hover * {
    visibility: visible;
}

.spoilertext:hover {
    background: #fff;
    color: #000;
}

/* Contact icons */
.contact {
    background: url('icons/contact.png') no-repeat;
    padding-left: 20px;
    min-height: 16px;
}

.contact:hover {
    text-decoration: none;
}

.skype {
    background-position: 0 -32px;
}

.googlechat {
    background-position: 0 -64px;
}

.aim {
    background-position: 0 -96px;
}

.yim {
    background-position: 0 -128px;
}

.steam {
    background-position: 0 -160px;
}

.twitter {
    background-position: 0 -192px;
}

.discord {
    background-position: 0 -256px;
}

.youtube {
    background-position: 0 -298px;
}

.bluesky {
    background-position: 0 -320px;
}

.contact.im,
.contact.pm {
    background-position: 0 -224px;
}

/* Social icons */
.social {
    display: inline-block;
    background: url('icons/social.png') no-repeat;
    width: 16px;
    height: 16px;
    overflow: hidden;
    text-indent: -1000px;
}

.rss {
    background-position: 0 0;
}

/* Tooltip */
.tooltip {
    position: absolute;
    border-collapse: collapse;
    color: #fff;
    max-width: 550px;
}

.tooltip td {
    background: url('img/tooltip.png');
}

.tooltip .top {
    height: 10px;
}

.tooltip .bottom {
    height: 15px;
}

.tooltip .top .right {
    background-position: top right;
}

.tooltip .content td {
    background-position: center center;
}

.tooltip .content .left {
    background-position: center left;
    width: 10px;
}

.tooltip .content .right {
    background-position: center right;
    width: 10px;
}

.tooltip .bottom .left {
    background-position: bottom left;
}

.tooltip .bottom .right {
    background-position: bottom right;
}

/* AutoComplete */
#autocomplete {
    position: absolute;
    border: 1px solid #000;
    background: #eef;
    text-align: left;
}

#autocomplete div {
    padding: 5px;
    cursor: pointer;
}

#autocomplete div:hover,
#autocomplete div.selected {
    color: #00f;
    background: #f5f5ff;
    border: 1px solid #669;
    border-style: solid none;
}

#validname.valid,
#validname.invalid {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('icons/check_x.png') top center;
}

#validname.valid {
    background-position: bottom center;
}

#searchform .content {
    padding: 10px;
}

#searchform label {
    margin: 10px;
    display: inline-block;
}

.display-none {
    display: none;
}
