<a href="{{ url('modcontrols', { do: 'reports' }) }}" onclick="this.remove()">
    <div id="notification" class="newmessage">
        You have {{ reportCount }} post{% if reportCount > 1 %}s{% endif %} to review.
    </div>
</a>
