<form method="post" data-use-ajax-submit="true">
  <textarea name="newskindata" title="Update your skin here" aria-label="New skin data" class="editor">{{ content }}</textarea>
  <div class="center">
    {{ save }}
  </div>
</form>
