<tr>
  <td>
    {{ emoticon }}
  </td>
  <td>
    <img alt="{{ emoticon_url_encoded }}" src="{{ smiley_url }}">
  </td>
  <td>
    <input type="checkbox" title="Emoticon List Toggle" class="switch yn">
  </td>
  <td class="x">
    <a href="?act=Posting&do=emoticons&d={{ emoticon_url_encoded }}">X</a>
  </td>
</tr>
