<tr>
  <th scope="col">Image</th>
  <th scope="col">Title</th>
  <th scope="col"></th>
</tr>
<tr>
  <td>
    <input type="text" name="img" title="Rating URL">
  </td>
  <td>
    <input type="text" name="title" title="Rating Title">
  </td>
  <td>
    <input type="submit" value="Add" name="submit" title="Submit New Rating Option">
  </td>
</tr>
