<form method="post">
  <label for="renabled">Ratings Enabled:<label>
  <input
    type="checkbox"
    class="switch yn"
    name="renabled"
    id="renabled"
    title="Ratings Enabled"
    {% if ratings_enabled %}checked{% endif %}
  >
  <br>
  <label for="ranon">Anonymous Ratings:</label>
  <input
    type="checkbox"
    class="switch yn"
    name="ranon"
    id="ranon"
    title="Anonymous Ratings Enabled"
    {% if ratings_anonymous %}checked{% endif %}
  >
  <br><br>
  <input type="submit" value="Save" name="rsubmit">
</form>
