# Cache files
Thumbs.db
.DS_Store

# Config files
Desktop.ini
config.php
crossdomain.xml
# Boards data
boards

# Log files
*.log

# Scan Results
eslint-report.json
phpcs-report-sonarqube.json
phpcs-report.json
stylelint-report.json

# Vendor files
node_modules
vendor
