# OS Files
.DS_Store
Thumbs.db
Desktop.ini


# Cache files
/.php-cs-fixer.cache
/.phpunit.result.cache
/.cache

# Config files
/config.php
boards

# Log files
*.log

# Linters
eslint-report.json
parallel-lint-report-sonarqube.json
parallel-lint-report.json
phpcs-report-sonarqube.json
phpcs-report.json
phpmd-report-sonarqube.json
phpmd-report.json
phpstan-report.json
psalm-report.json
stylelint-report.json

# Test Reports
/coverage
/clover.xml
/junit.xml

# Vendor files
node_modules
vendor
