# vi:ft=yaml
# PHPStan configuration
#
# See https://phpstan.org/config-reference
parameters:
  bootstrapFiles:
    - tools/phpstan-bootstrap.php
  excludePaths:
    analyse:
      - node_modules
      - dist
      - vendor
  level: 8
  paths:
    - Script
    - Service
    - acp
    - api
    - config.default.php
    - jax
    - tools
    - index.php

