# vi:ft=yaml
# PHPStan configuration
#
# See https://phpstan.org/config-reference
parameters:
  bootstrapFiles:
    - Tools/phpstan-bootstrap.php
  excludePaths:
    analyse:
      - node_modules
      - dist
      - vendor
  level: 8
  paths:
    - ACP
    - config.default.php
    - Jax
    - Script
    - Service
    - Tools
    - index.php

