# vi:ft=yaml
# PHPStan configuration
#
# See https://phpstan.org/config-reference
parameters:
  excludePaths:
    analyse:
      - node_modules
      - vendor
  level: 8
  paths:
    - Script
    - Service
    - acp
    - config.default.php
    - domaindefinitions.php
    - emoticons
    - inc
    - index.php
    - misc
    - php_codesniffer_to_sonarqube.php

