.editorframe{background:#FFF;border:1px solid #000;}

.editbar{display:block;text-align:left;background:url(wysiwygbar.png) bottom right;width:800px;height:24px;overflow:hidden;}
.editbar a{background:url(wysiwygbar.png);height:24px;display:inline-block;}
.editbar .bold{width:32px;}
.editbar .italic{width:33px;background-position:-32px 0;}
.editbar .underline{width:35px;background-position:-65px 0;}
.editbar .forecolor{width:31px;background-position:-100px 0;}
.editbar .backcolor{width:32px;background-position:-131px 0;}
.editbar .insertimage{width:29px;background-position:-163px 0;}
.editbar .createlink{width:28px;background-position:-192px 0;}
.editbar .c_email{width:27px;background-position:-220px 0;}
.editbar .justifyleft{width:26px;background-position:-247px 0;}
.editbar .justifycenter{width:27px;background-position:-273px 0;}
.editbar .justifyright{width:26px;background-position:-300px 0;}
.editbar .c_youtube{width:28px;background-position:-326px 0;}
.editbar .c_code{width:26px;background-position:-354px 0;}
.editbar .c_quote{width:25px;background-position:-380px 0;}
.editbar .c_spoiler{width:29px;background-position:-405px 0;}
.editbar .insertorderedlist{width:28px;background-position:-434px 0;}
.editbar .insertunorderedlist{width:28px;background-position:-462px 0;}
.editbar .c_smileys{width:29px;background-position:-490px 0;}
.editbar .c_switcheditmode{width:30px;background-position:-519px 0;}

/********
  Get them to move down on hover, fuck firefox and it's non background-position-y support :(
                                                                                       *********/
.editbar a:hover.bold{width:32px;background-position:0 -24px;}
.editbar a:hover.italic{width:33px;background-position:-32px -24px;}
.editbar a:hover.underline{width:35px;background-position:-65px -24px;}
.editbar a:hover.forecolor{width:31px;background-position:-100px -24px;}
.editbar a:hover.backcolor{width:32px;background-position:-131px -24px;}
.editbar a:hover.insertimage{width:29px;background-position:-163px -24px;}
.editbar a:hover.createlink{width:28px;background-position:-192px -24px;}
.editbar a:hover.c_email{width:27px;background-position:-220px -24px;}
.editbar a:hover.justifyleft{width:26px;background-position:-247px -24px;}
.editbar a:hover.justifycenter{width:27px;background-position:-273px -24px;}
.editbar a:hover.justifyright{width:26px;background-position:-300px -24px;}
.editbar a:hover.c_youtube{width:28px;background-position:-326px -24px;}
.editbar a:hover.c_code{width:26px;background-position:-354px -24px;}
.editbar a:hover.c_quote{width:25px;background-position:-380px -24px;}
.editbar a:hover.c_spoiler{width:29px;background-position:-405px -24px;}
.editbar a:hover.insertorderedlist{width:28px;background-position:-434px -24px;}
.editbar a:hover.insertunorderedlist{width:28px;background-position:-462px -24px;}
.editbar a:hover.c_smileys{width:29px;background-position:-490px -24px;}
.editbar a:hover.c_switcheditmode{width:30px;background-position:-519px -24px;}

.emotewin{height:200px;width:150px;overflow-x:auto;background:#EEF;border:1px solid #000;}
.emotewin a{border-bottom:1px solid #CCF;display:block;text-decoration:none;padding:10px;}
.emotewin a:hover{background:#CCF;}
.emotewin a img{border:0;margin-right:10px;}