<tbody class="topic-post-row" id="pid_%1$s">
  <tr>
    <td class="userdata" rowspan="2">
      <div class="username">
        %3$s
      </div>
      <div class="avatar">
        <a href="?act=vu%15$s">
          <img src="%4$s" alt="Avatar" />
        </a>
      </div>
      <div class="usertitle">
        %5$s
      </div>
      %18$s

      <div class="badges">%21$s</div>

      <div class="userstats">
        Posts: %6$s
        <br />
        Status: %7$s
        <br />
        Group: %8$s
        <br />
        Member: #%9$s
      </div>
    </td>
    <td class="post">
      <div class="posttop">
        <div class="post_buttons">
          %10$s %17$s
        </div>
        <div class="post_info">
          %11$s %12$s
        </div>
      </div>
      <div class="post_content">
        %13$s
        %16$s
      </div>
      %20$s
      <div class="signature">
        %14$s
      </div>
    </td>
  </tr>
  <tr>
    <td class="postbottom"></td>
  </tr>
</tbody>
