<div class="box" id={{id}}>
  <div class="title">
    {{title}}
  </div>
  <div class="content_top">
  </div>
  <div class="content">
    {{> @partial-block }}
  </div>
  <div class="content_bottom">
  </div>
</div>
