<div class="box collapse-box" id=id>
  <div class="title">
    <div class="x collapse-button">
      -/+
    </div>
    {{title}}
  </div>
  <div class="collapse-content">
    <div class="content_top">
    </div>
    <div class="content">
      {{> @partial-block }}
    </div>
    <div class="content_bottom">
    </div>
  </div>
</div>
