<tr>
  <td class="f_icon">
    <img src="/Service/Themes/Default/icons/redirect.png" alt="redirect" />
  </td>
  <td class="forum">
    <a href="?act=vf{{forum.id}}">
      {{forum.title}}
    </a>
    <div class="description">
      {{forum.subtitle}}
    </div>
  </td>
  <td class="last_post" colspan="2">
    Redirects: {{forum.redirects}}
  </td>
</tr>
