<div id="userbox">
  {{#if user}}
    <div class="welcome">
      Hi, {{#link "user" user.id}}{{user.display_name}}{{/link}}!
      {{#link "logout"}}
        Logout
      {{/link}}
      </a>
    </div>
    <div class="lastvisit">
      Last Visit: {{date user.last_visit}}
    </div>
    <div class="messages">
      Inbox:
      <a href="?act=ucp&amp;what=inbox" id="num-messages" class="num-messages">
        0
      </a>
    </div>
    <div class="settings">
      <a href="?act=ucp">
        Settings
      </a>
    </div>
{{else}}
    <!-- TODO: Turn this into an ajax form with: data-ajax-form="resetOnSubmit" -->
    <form action="./login" method="post">
      <div>
        Username:
        <input type="text" name="username" tabindex="1">
        <br>
        Password:
        <a href="?act=logreg6" class="forgot">
          Forgot?
        </a>
        <input type="password" name="password" tabindex="2">
        <br>
        <input type="hidden" name="act" value="logreg">
        <input type="submit" value="Login">
        <a href="?act=logreg1">
          Register
        </a>
      </div>
    </form>
  {{/if}}
</div>
