<div class="box login">
    <div class="title">
        Generate a New Password
    </div>
    <div class="content">
        <form action="?act=logreg6" method="post"
            onsubmit="return RUN.submitForm(this)">
            <label for="pass1">
                Password:
            </label>
            <input type="password" id="pass1" name="pass1" />
            <br />
            <label for="pass2">
                Confirm:
            </label>
            <input type="password" id="pass2" name="pass2" />
            <br />
            %s
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>