<form method="post">
  <p>This tool is used for deleting member accounts. All traces of the member ever even existing will vanish away!</p>
  <label for="name">Member Name:</label>
  <input type="text" id="name" name="name" data-autocomplete-action="searchmembers" data-autocomplete-output="#mid"
    data-autocomplete-indicator="#validname">
  <input type="hidden" id="mid" name="mid">
  <span id="validname"></span>
  <br>
  <input type="submit" name="submit" value="Delete Account">
</form>
