<div class="idxtools">
    <a href="{{ url('index', { markread: 1 }) }}">
        Mark Everything Read
    </a>
    |
    <a href="{{ url('members', { filter: 'staff', sortby: 'g_title' }) }}">
        View Staff
    </a>
</div>
