<form method="post">
  <label>
    Move all forums to:
    <select name="moveto">
      {{ category_options }}
    </select>
  </label>
  <br>
  <input type="submit" value="Delete" name="submit">
</form>
