html {
  height: 100%;
}

body {
  background: url(/Service/acp/Theme/img/loginglow.png) center no-repeat #274463;
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
}

input[type="submit"] {
  background: url(/Service/acp/Theme/img/buttonbg.png);
  border-radius: 9px;
  border: 1px solid #000;
  color: #fff;
  font-size: 15px;
  margin-top: 30px;
}

label {
  display: inline-block;
  text-align: left;
  width: 130px;
}

#container {
  height: 100%;
  position: relative;
}

#login {
  background: #fff;
  border: 1px solid #000;
  font-size: 20px;
  height: 300px;
  left: 50%;
  margin: -150px 0 0 -250px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 500px;
}

#loginform {
  padding: 40px 0;
}

#logo {
  background: url(/Service/acp/Theme/img/loginlogo.png) center;
  border: 1px solid #2d4669;
  height: 90px;
}

.error {
  background: #fdd;
  border: 1px solid #f00;
  color: #f00;
  font-size: 15px;
  margin: -20px 5px 20px 5px;
  padding: 5px;
}
