@import url("/Service/Themes/base-layout.css");

:root {
  --black: #000;
  --white: #fff;
  --purple: #460053;
  --deep-purple: #1f0424;
  --border-blue: #99f;
  --text-color: var(--white);
  --black-bg-transparent: rgb(0 0 0 / 90%);
  --heading: linear-gradient(0deg, var(--deep-purple), #560b53);
}

body {
  background: url("./img/background.jpg") black center / cover no-repeat fixed;
  color: var(--text-color);
}

a {
  &:active,
  &:visited,
  &:link {
    color: #1d71cf;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  /* Member/Group Specific */
  &.mgroup2 {
    color: #0f0;
  }

  &.mgroup4 {
    color: #a00;
    text-decoration: line-through;
  }
}

textarea {
  background: var(--black);
  border: 1px solid var(--white);
  color: var(--text-color);
}

/* Misc (Global) */
.error {
  background: #a00;
  border: 1px solid #f33;
}

.success {
  background: #0a0;
  border: 1px solid #3f3;
}

/* All windows */
.window {
  box-shadow: 0 0 5px white;

  & .title {
    color: var(--text-color);
  }

  & .content,
  & .title {
    border: 1px solid var(--black);
    background: var(--black-bg-transparent);
  }
}

/* IM windows */
.im {
  & form {
    border-top: 1px solid #555;
  }

  & .you .name {
    color: #f00;
  }

  & .them .name {
    color: #00f;
  }

  & .action {
    color: #522994;
  }

  &.offline .offline {
    color: #600;
    background: #ecc;
    font-style: italic;
  }
}

.immenu,
.emotewin {
  border: 1px solid var(--black);
  background: #eef;
}

/* User Control Panel */
#ucp {
  & .content {
    background: var(--black-bg-transparent);
  }

  & .leftbar {
    & h2 {
      background: var(--heading);
      border: 1px solid var(--border-blue);
    }
  }
}

#ucppage {
  background: var(--black-bg-transparent);
  border-left: 1px solid var(--black);

  & h2 {
    border-bottom: 1px solid var(--border-blue);
  }
}

/* Mod CP */
#modcp {
  & .minibox {
    border: 1px solid var(--black);

    & .title {
      background: var(--heading);
      border: 1px solid var(--border-blue);
    }

    & .post {
      border-bottom: 1px solid var(--border-blue);
    }
  }

  & .modcppage {
    border-left: 1px solid var(--black);
  }

  & .onlinesessions {
    & td {
      border: 1px solid var(--border-blue);
    }
  }
}

.inbox {
  & .listing {
    border: 1px solid var(--border-blue);

    & td {
      border: 1px solid var(--border-blue);
      border-style: solid none;
    }

    & tr:hover td {
      background: #111;
    }
  }

  & .composeform {
    background: var(--deep-purple);
    border: 1px solid #669;
  }

  & .messageview {
    border: 1px solid var(--black);
  }

  & .message {
    border: 1px solid #669;
  }
}

/* Shoutbox */
.shouts {
  border-right: 1px solid var(--border-blue);
}

.shout {
  &.highlight {
    background: #ff0;
  }
}

#shoutbox .action,
.sbhistory .action {
  color: #f00;
}

#shoutbox .action a,
.sbhistory .action a {
  color: #a00;
}

#contacts {
  /* Buddy/Contacts List */
  & .online .name {
    color: #1d71cf;
  }

  & .offline .name {
    color: #ccc;
  }

  & .blocked .name {
    color: #f00;
  }

  & .contact {
    border-bottom: 1px solid var(--border-blue);
    background: none;
  }

  & .contact:hover {
    background: #111;
  }

  & .status {
    color: #555;
  }
}

/* User profiles */
.userprofile {
  & .leftbar {
    border: 1px solid var(--black);
    background: var(--black);
  }

  & .leftbar .username {
    background: var(--heading);
    border: 1px solid var(--border-blue);
  }

  & .leftbar .avatar img {
    border: 1px solid var(--black);
  }

  & .infobox {
    background: var(--deep-purple);
    border: 1px solid var(--border-blue);
  }

  & .rightbar {
    & .post {
      border-bottom: 1px solid var(--border-blue);
    }

    & .postdate {
      border: 1px solid #339;
    }

    & .signature {
      border-top: 1px dashed #ccc;
    }
  }

  & #pfbox {
    border: 1px solid var(--black);
    background: var(--black-bg-transparent);
  }

  & .pftabs a {
    border: 1px solid var(--black);
    border-bottom: none;
    background: var(--heading);
    color: var(--text-color);

    &.active {
      background: var(--white);
      color: var(--black);
    }
  }

  & .comment {
    border-bottom: 1px solid #35485e;

    & .date {
      color: var(--border-blue);
    }
  }

  & .contacts {
    & .contact {
      background: none;
      border: 1px solid var(--border-blue);
    }

    & .contact:hover {
      background: var(--deep-purple);
    }
  }
}

.badges {
  & .badge {
    border-bottom: 1px solid var(--black);
  }
}

/* Header */
.head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 158px;
  background-image: linear-gradient(#220527, #24032a);
  box-sizing: border-box;
  padding: 10px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 3px;
    background-image: linear-gradient(
      #2d0537 5%,
      #3a165c 50%,
      #23022a 70%,
      #1d0422 85%
    );
    filter: blur(1px);
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(#1e0524 50%, rgb(37 4 48));
    clip-path: ellipse(60% 50% at 50% 100%);
  }
}

.navigation {
  & ul {
    & li {
      background: linear-gradient(#2f2f2f, black);
      border-width: 1px;
      border-style: solid;
      border-image: linear-gradient(white, #393939) 1;
      border-bottom: 0;

      &.active {
        background: linear-gradient(#384b61, #22354b);
      }
    }
  }

  & a {
    color: var(--text-color);
  }
}

/* UserBox */
#userbox {
  background: rgb(27 46 79 / 50%);
  border-image: linear-gradient(#435f80 20%, #7eaee4) 1;
  border-style: solid;
  border-width: 3px;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 40%);
  box-sizing: border-box;
  color: var(--text-color);

  & .logout,
  & .register {
    color: #0ff;
  }

  & a:first-child {
    color: var(--text-color);
  }

  & .lastvisit {
    color: #cfc;
  }

  & .controls {
    & a {
      color: var(--text-color);
    }
  }

  & .forgot {
    color: var(--text-color);
  }
}

/* Breadcrumbs */
#path {
  background: var(--black-bg-transparent);
  border: 1px solid var(--border-blue);
  border-style: solid none;
}

/* Board Index */
.boardindex {
  & td {
    border: 1px solid var(--border-blue);
  }

  & .f_icon {
    border-style: solid none;
  }

  & .last_post {
    & a {
      color: #e77700;
    }
  }
}

/* Forum Listings */
.forumindex {
  & td {
    border: 1px solid var(--border-blue);
  }

  & .f_icon {
    background: var(--white);
  }
}

/* Subforums (in forum listings) */
.subindex {
  & td {
    border: 1px solid var(--border-blue);
  }

  & .last_post {
    padding: 10px;
  }

  & .last_post a {
    color: #e77700;
  }
}

/* Topic View */
#intopic {
  & td {
    border: 1px solid var(--border-blue);
  }

  & .username {
    background: var(--heading);
    border-bottom: 1px solid var(--border-blue);
  }

  & .signature {
    border-top: 1px dashed #ccc;
  }

  & .modpost.selected {
    color: #090;
  }

  & .post_info {
    color: #55c;
  }

  /* Post Ratings */
  & .postrating {
    min-height: 1.4em;
    padding-left: 20px;

    & .form {
      display: none;
    }

    & .form img {
      opacity: 0.5;
    }

    & a:hover img {
      opacity: 1;
    }
  }

  & .opengraph {
    border: 1px solid var(--deep-purple);
    background: var(--purple);
  }

  & .userstats {
    background: var(--deep-purple);
    border: 1px solid var(--border-blue);
  }
}

.postrating_list {
  background: #eef;
  border: 1px solid var(--border-blue);

  & ul {
    border: 1px dashed var(--border-blue);
  }
}

.forum-buttons-top a,
.forum-buttons-bottom a,
.topic-buttons-top a,
.topic-buttons-bottom a,
.pages-top a,
.pages-bottom a {
  font-family: Consolas, monospace;
  background: black;
  padding: 5px;
  border: 1px solid #0f0;
  color: #0f0;
}

#poll {
  & .content {
    background: var(--black-bg-transparent);
  }

  & .choice {
    background: var(--deep-purple);
    border: 1px solid var(--border-blue);
  }

  & .choice:hover {
    background: var(--purple);
    border: 1px solid var(--black);
  }

  & table {
    background: var(--purple);
  }

  & .bar {
    background: linear-gradient(0deg, var(--black), #111);
  }
}

/* New Topic Form */
.topicform {
  border: 1px solid var(--border-blue);
}

#polloptions {
  background: var(--purple);
  border: 1px solid var(--border-blue);
}

/* Search */
.searchresult {
  border-bottom: 1px solid var(--border-blue);

  & .highlight {
    background: #ffa;
    color: #f00;
  }
}

#searchadvanced {
  & td {
    border-right: 1px solid var(--black);
  }
}

/* Ticker */
#ticker {
  & .tick {
    border-bottom: 1px solid var(--border-blue);
  }
}

/* Calendar */
.calendar {
  & td {
    border: 1px solid var(--black);
  }

  & .today {
    background: var(--deep-purple);
  }
}

/* Boxes/Collapse Boxes (Global) */

.box {
  & > .title {
    background: linear-gradient(45deg, var(--deep-purple), rgb(0 0 0 / 50%));
    color: var(--text-color);
  }

  & .content {
    background: var(--black-bg-transparent);
  }
}

/* Function-Specific */
#notification,
#modbox {
  background: var(--purple);
  border: 1px solid var(--border-blue);
}

#notification.newmessage {
  background-color: var(--purple);
}

.pages .active {
  color: #f55;
}

#stats {
  & .userstoday {
    border-top: 1px solid var(--border-blue);
  }

  & .stats {
    border-top: 1px solid var(--border-blue);
  }
}

/* Member List */
#memberlist {
  & td {
    border-top: 1px solid var(--border-blue);
  }
}

/* BBcodes */
.quote {
  border: 1px solid var(--border-blue);
  background-color: var(--purple);
}

.code {
  border: 1px solid var(--border-blue);
  background: var(--deep-purple);
}

.spoilertext {
  background: var(--deep-purple);
  color: var(--deep-purple);
  border: 1px solid var(--border-blue);

  &:hover,
  &.spoiled {
    background: none;
    color: inherit;
  }
}

/* AutoComplete */
#autocomplete {
  border: 1px solid var(--black);
  background: var(--purple);

  & div:hover,
  & div.selected {
    background: var(--deep-purple);
    border: 1px solid var(--border-blue);
  }
}

.editorframe {
  border: 1px solid var(--border-blue);
}
