:root {
  --black: #000;
  --white: #fff;
  --purple: #460053;
  --deep-purple: #1f0424;
  --border-blue: #99f;
  --text-color: var(--white);
  --black-bg-transparent: rgb(0 0 0 / 90%);
  --heading: linear-gradient(0deg, var(--deep-purple), #560b53);
}

html {
  /* set 1rem to 10px */
  font-size: 62.5%;
  text-size-adjust: none;
}

body {
  background: url("./img/background.jpg") black center / cover no-repeat fixed;
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  color: var(--text-color);
  overflow-y: scroll;
  overflow-wrap: break-word;
}

img {
  border: 0;
  max-width: 100%;

  &.avatar {
    max-width: 150px;
  }
}

a {
  &:active,
  &:visited,
  &:link {
    color: #1d71cf;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

textarea {
  background: var(--black);
  border: 1px solid var(--white);
  color: var(--text-color);
}

/* Misc (Global) */
.error {
  background: #a00;
  border: 1px solid #f33;
  margin: 5px;
  padding: 5px;
}

.success {
  background: #0a0;
  border: 1px solid #3f3;
  margin: 5px;
  padding: 5px;
}

/* Utility classes */
.clear {
  clear: both;
}

.center {
  text-align: center;
}

.display-none {
  display: none;
}

/* All windows */
.windows {
  position: fixed;
  bottom: 0;
  left: 0;
}

.window {
  position: fixed;
  box-shadow: 0 0 5px white;

  & .title {
    padding: 5px 20px;
    cursor: move;
    text-align: center;
    color: var(--text-color);
    border-radius: 10px 10px 0 0;
  }

  & .title .controls {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 2px;
    font-size: smaller;

    & div {
      display: inline-block;
      padding: 0 5px;
    }
  }

  &.minimized {
    position: relative;
    float: left;

    & .content {
      top: 0;
      left: 0;
      display: none;
    }

    & .title {
      top: 0;
      left: 0;
      padding-right: 70px;
    }
  }

  & .resize {
    cursor: nw-resize;
    width: 10px;
    height: 10px;
    background: url("/Service/Themes/Default/icons/cornerdrag.png");
    position: absolute;
  }

  & .content {
    text-align: left;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    padding-bottom: 5px;
  }

  & .content,
  & .title {
    border: 1px solid var(--black);
    background: var(--black-bg-transparent);
  }
}

.im {
  /* IM windows */
  & .ims {
    padding: 5px;
    width: 200px;
    height: 100px;
    overflow: auto;
  }

  & .content {
    border-radius: 0;
    padding: 0;
  }

  & form {
    display: block;
    width: 100%;
    border-top: 1px solid #555;
  }

  & input[type="text"] {
    padding: 5px;
    width: 95%;
    border: none;
  }

  & .you .name {
    color: #f00;
  }

  & .them .name {
    color: #00f;
  }

  & .action {
    color: #522994;

    & .you,
    & .them {
      font-style: italic;
    }
  }

  & .offline {
    display: none;
  }

  &.offline .offline {
    display: block;
    color: #600;
    background: #ecc;
    font-style: italic;
    padding: 5px;
    font-size: 1rem;
  }
}

.immenu,
.emotewin {
  border: 1px solid var(--black);
  background: #eef;
}

/* User Control Panel */
#ucp {
  & .content {
    background: var(--black-bg-transparent);
  }

  & textarea {
    width: 100%;
    height: 100px;
  }

  & .profile-settings label {
    display: inline-block;
    width: 120px;
  }

  & .leftbar {
    float: left;
    width: 170px;

    & .icon {
      margin: 10px;
      font-size: 1.2rem;
      padding: 2px 25px;
      background: url("/Service/Themes/Default/icons/inboxicons.png") 0 0
        no-repeat;
    }

    & h2 {
      margin: 0;
      background: var(--heading);
      font-size: 1.6rem;
      border: 1px solid var(--border-blue);
      padding: 3px;
    }
  }

  & .icon.inbox {
    background-position: 0 -32px;
  }

  & .icon.sent {
    background-position: 0 -64px;
  }

  & .icon.flagged {
    background-position: 0 -96px;
  }

  & .icon.compose {
    background-position: 0 -128px;
  }

  & .leftbar a {
    display: block;
    margin: 5px 10px;
  }

  & .error {
    margin: 5px;
    margin-bottom: 15px;
    padding: 8px;
    text-align: left;
  }
}

#ucppage {
  background: var(--black-bg-transparent);
  border-left: 1px solid var(--black);
  margin-left: 170px;
  padding: 20px;
  min-height: 400px;

  & h2 {
    border-bottom: 1px solid var(--border-blue);
    font-size: 2rem;
  }

  & .tooltip {
    font-size: 1.4rem;
    background: url("/Service/Themes/Default/icons/help.png") no-repeat;
    text-indent: -1000px;
    display: inline-block;
    width: 20px;
    border: none;
    cursor: help;
  }
}

/* Mod CP */
#modcp {
  & > .content {
    display: flex;
    flex-wrap: wrap;
  }

  & .minibox {
    border: 1px solid var(--black);
    margin: 10px;

    & .title {
      padding: 5px;
      background: var(--heading);
      border: 1px solid var(--border-blue);
    }

    & .content {
      padding: 5px;
    }

    & .post {
      border-bottom: 1px solid var(--border-blue);
      padding: 10px;
    }
  }

  & .leftbar {
    padding: 10px;
    width: 150px;
  }

  & .modcppage {
    flex: 1;
    border-left: 1px solid var(--black);
    padding: 10px;
    min-height: 200px;

    & .error {
      margin: 5px;
      padding: 5px;
    }
  }

  & td {
    vertical-align: top;
  }

  & textarea {
    width: 500px;
    height: 100px;
  }

  & .onlinesessions {
    border-collapse: collapse;

    & td {
      border: 1px solid var(--border-blue);
      padding: 5px;
    }

    & td:nth-child(2) {
      text-align: center;
    }

    & td:nth-child(3) {
      width: 25%;
    }
  }
}

.inbox {
  & .listing {
    border: 1px solid var(--border-blue);
    font-size: 1.4rem;
    width: 100%;
    border-collapse: collapse;

    & .unread {
      font-weight: bold;
    }

    & td {
      padding: 2px;
      border: 1px solid var(--border-blue);
      border-style: solid none;
    }

    & tr:hover td {
      background: #111;
    }

    & th {
      padding: 8px 2px;
      text-align: left;
      font-weight: normal;
    }

    & .center {
      text-align: center;
    }
  }

  & .compose {
    font-weight: bold;
    background-position: 0 -128px;
  }

  & .composeform {
    background: var(--deep-purple);
    padding: 10px;
    border: 1px solid #669;

    & label {
      margin-bottom: 10px;
      display: inline-block;
      width: 100px;
    }

    & textarea {
      width: 100%;
      height: 300px;
    }
  }

  & .switch.flag {
    border: none;
    height: 16px;
    background: url("/Service/Themes/Default/icons/flags.png") no-repeat;
    background-position: center 0;
  }

  & .messageview {
    border: 1px solid var(--black);
    padding: 10px;
  }

  & .message {
    margin-top: 10px;
    border: 1px solid #669;
    padding: 10px;
  }

  & .messageinfo {
    font-size: 1.4rem;
  }

  & .messageinfo .title {
    font-weight: bold;
  }

  & .messagebuttons {
    margin-top: 10px;
    text-align: left;
  }
}

/* Shoutbox */
#shoutbox {
  background: none;
}

.shoutbox {
  display: flex;
  flex-wrap: wrap;
}

.shouts {
  padding: 3px;
  border-right: 1px solid var(--border-blue);
  font:
    1.4rem Arial,
    sans-serif;
  flex: 1;
  min-width: 200px;
}

.shout {
  &.highlight {
    background: #ff0;
  }

  & img {
    max-height: 150px;
    max-width: 150px;
  }

  & .delete {
    margin-right: 10px;
    display: none;
  }

  &:hover .delete {
    display: inline;
  }

  & .avatar {
    max-height: 20px;
    max-width: 20px;
    vertical-align: middle;
  }
}

.shoutform {
  align-content: center;
  margin: 10px 20px;
}

#shoutbox .action,
#shoutbox .action a,
.sbhistory .action,
.sbhistory .action a {
  font-style: italic;
  color: #f00;
}

#shoutbox .action a,
.sbhistory .action a {
  color: #a00;
}

.sbhistory .shout .delete {
  margin-right: 10px;
}

.sbhistory {
  padding: 10px;
}

#buddylist {
  & .name,
  & .status {
    margin-left: 50px;
  }

  /* Buddy/Contacts List */
  & .online .name {
    color: #1d71cf;
  }

  & .offline .name {
    color: #ccc;
  }

  & .blocked .name {
    color: #f00;
  }

  & .content {
    height: 300px;
    width: 200px;
    overflow-y: auto;
  }

  & .contact {
    position: relative;
    cursor: pointer;
    min-height: 32px;
    padding: 5px;
    border-bottom: 1px solid var(--border-blue);
    background: none;
  }

  & .contact:hover {
    background: #111;
  }

  & .avatar img {
    max-width: 32px;
    max-height: 32px;
  }

  & .avatar {
    position: absolute;
  }

  & .status {
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.2rem;
    color: #555;
  }

  & .contact:hover .status {
    white-space: normal;
  }
}

.contact-card {
  & .content {
    display: flex;
  }

  & .content a {
    font-size: 1.4rem;
  }

  & .right {
    padding: 10px;
    width: 150px;
  }

  & .left {
    padding: 10px 30px;
    max-width: 150px;
  }

  & .username {
    font-weight: bold;
    padding: 10px 0;
  }

  & .contact_details {
    font-size: 1.2rem;
    margin-top: 20px;
  }

  & .contact_details a:hover {
    text-decoration: none;
  }
}

/* User profiles */
.userprofile {
  margin: 30px 5px;

  & .leftbar {
    float: left;
    width: 200px;
    border: 1px solid var(--black);
    background: var(--black);
  }

  & .leftbar .username {
    padding: 0.5em;
    font-weight: bold;
    background: var(--heading);
    font-size: 1.6rem;
    border: 1px solid var(--border-blue);
  }

  & .username .moderate {
    visibility: visible;
  }

  & .leftbar .avatar {
    margin-top: 20px;
    text-align: center;
  }

  & .leftbar .avatar img {
    border: 1px solid var(--black);
  }

  & .leftbar .usertitle {
    font-size: 1rem;
    margin: 1px;
    text-align: center;
  }

  & .infobox {
    background: var(--deep-purple);
    border: 1px solid var(--border-blue);
    margin: 20px 5px 10px;
    padding: 5px;

    & .content {
      font-size: 1rem;
    }

    & div {
      font-size: 1rem;
      margin: 5px;
    }
  }

  & .rightbar {
    margin-left: 210px;

    & .post {
      border-bottom: 1px solid var(--border-blue);
      padding: 10px;
    }

    & .postdate {
      font-size: 1rem;
      margin: 10px;
      border: 1px solid #339;
      padding: 5px;
    }

    & .signature {
      border-top: 1px dashed #ccc;
      margin: 10px 0;
      padding-top: 10px;
    }
  }

  & #pfbox {
    border: 1px solid var(--black);
    padding: 10px;
    background: var(--black-bg-transparent);
  }

  & .pftabs a {
    margin-left: 5px;
    display: inline-block;
    padding: 0.5em;
    border: 1px solid var(--black);
    border-bottom: none;
    background: var(--heading);
    color: var(--text-color);

    &.active {
      background: var(--white);
      color: var(--black);
    }
  }

  & .comment {
    position: relative;
    min-height: 80px;
    border-bottom: 1px solid #35485e;
    padding: 10px;

    & img {
      max-height: 50px;
      max-width: 50px;
    }

    & .userdata {
      position: absolute;
    }

    & .commenttext {
      margin-left: 100px;
      padding: 10px;
    }

    & .date {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
      font-size: smaller;
      color: var(--border-blue);
    }
  }

  & .contacts {
    display: inline-block;

    & .contact {
      background: none;
      border: 1px solid var(--border-blue);
      cursor: pointer;
      padding: 30px 10px;
      min-height: 80px;
      width: 120px;
      float: left;
      text-align: center;
    }

    & .contact:hover {
      background: var(--deep-purple);
    }

    & .contact .avatar img {
      max-width: 50px;
      max-height: 50px;
    }
  }
}

.badges .badge {
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  grid-template-areas:
    "badgeImage title awardDate"
    "badgeImage description description"
    "badgeImage reason reason";
  border-bottom: 1px solid var(--black);
  padding: 10px 5px;

  & .badge-title {
    grid-area: title;
    margin: 0;
  }

  & .badge-image {
    grid-area: badgeImage;

    & img {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  & .description {
    grid-area: description;
  }

  & .award-date {
    grid-area: awardDate;
    text-align: right;
  }

  & .reason {
    grid-area: reason;
  }
}

/* Activity (global) */
.activity {
  padding: 10px 10px 10px 36px;
  background: url("/Service/Themes/Default/icons/activity.png") no-repeat;

  &.new_post {
    background-position: 0 -64px;
  }

  &.profile_name_change {
    background-position: 0 -128px;
  }

  &.profile_comment {
    background-position: 0 -194px;
  }

  &.buddy_add {
    background-position: 0 -258px;
  }
}

/* Surrounding Container/Template for Board */
#container {
  margin: 5px auto;
  max-width: 1280px;
  text-align: left;
  border-radius: 0 0 15px 15px;
}

.head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 158px;
  background-image: linear-gradient(#220527, #24032a);
  box-sizing: border-box;
  padding: 10px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 3px;
    background-image: linear-gradient(
      #2d0537 5%,
      #3a165c 50%,
      #23022a 70%,
      #1d0422 85%
    );
    filter: blur(1px);
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(#1e0524 50%, rgb(37 4 48));
    clip-path: ellipse(60% 50% at 50% 100%);
  }
}

.navigation {
  & ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    & li {
      margin-right: 1px;
      padding: 11px 20px;
      white-space: nowrap;
      background: linear-gradient(#2f2f2f, black);
      border-width: 1px;
      border-style: solid;
      border-image: linear-gradient(white, #393939) 1;
      border-bottom: 0;
    }
  }

  & .spacer {
    flex: 1;
    padding: 0;
  }

  & ul li.active {
    background: linear-gradient(#384b61, #22354b);
  }

  & a {
    color: var(--text-color);
  }
}

.footer {
  text-align: center;
  margin: 10px;
}

#body {
  padding-bottom: 20px;
}

/* Logo */
#logo {
  z-index: 1;
  flex: 1;
  margin: 20px 40px;
  align-self: center;

  & img {
    max-width: initial;

    /* don't let logo shrink */
  }
}

/* UserBox */
#userbox {
  background: rgb(27 46 79 / 50%);
  border-image: linear-gradient(#435f80 20%, #7eaee4) 1;
  border-style: solid;
  border-width: 3px;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 40%);
  box-sizing: border-box;
  color: var(--text-color);
  padding: 20px;
  position: relative;
  z-index: 1;

  & form {
    margin: 0;
    font-size: 1.6rem;

    & input {
      width: 200px;
    }

    & input[type="submit"] {
      width: auto;
    }
  }

  & .logout,
  & .register {
    color: #0ff;
  }

  & a:first-child {
    color: var(--text-color);
  }

  & .welcome {
    text-align: center;
  }

  & .lastvisit {
    margin: 15px 0;
    color: #cfc;
    text-align: center;
  }

  & .controls {
    display: flex;
    justify-content: space-evenly;

    & a {
      color: var(--text-color);
    }
  }

  & .forgot {
    font-size: smaller;
    float: right;
    color: var(--text-color);
  }

  & a.num-messages {
    color: var(--text-color);
  }
}

/* Breadcrumbs */
#path {
  font:
    1.4rem Arial,
    sans-serif;
  background: var(--black-bg-transparent);
  border: 1px solid var(--border-blue);
  border-style: solid none;
  margin-top: 10px;
  padding: 0.5em 0 0.5em 1em;

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
      display: inline-block;
      background: url("/Service/Themes/Default/icons/pathsplitter.png")
        no-repeat;
      padding-left: 20px;
      margin-right: 10px;

      &:first-child {
        background: none;
        padding-left: 0;
      }
    }
  }
}

/* Board Index */
.idxtools {
  font-size: smaller;
  margin: 10px;
}

.boardindex {
  width: 100%;
  border-collapse: collapse;
  font:
    1.2rem Arial,
    sans-serif;

  & td {
    border: 1px solid var(--border-blue);
  }

  & .last_post {
    padding: 10px;
    border-right: none;

    &::first-letter {
      background: url("/Service/Themes/Default/icons/last.gif") center left
        no-repeat;
      padding-left: 15px;
    }

    & a {
      color: #e77700;
    }
  }

  & .f_icon {
    border-style: solid none;
    width: 40px;
    vertical-align: middle;
    text-align: center;
  }

  & .unread .forum a {
    font-weight: bold;
  }

  & .forum {
    border-left: none;
    padding: 20px;
    padding-left: 10px;

    & a {
      font:
        1.4rem Arial,
        sans-serif;
    }
  }

  & .subforums,
  & .ledby,
  & .subforums a,
  & .ledby a {
    font-style: italic;
    font-size: 1rem;
  }

  & .item_1,
  & .item_2 {
    font-size: 1.2rem;
    width: 20vw;
    max-width: 165px;
    text-align: center;
    padding: 5px 2px;
    border-right: none;
  }
}

/* Forum Listings */
.forumindex {
  width: 100%;
  border-collapse: collapse;
  font:
    1.2rem Arial,
    sans-serif;

  & td {
    padding: 10px;
    border: 1px solid var(--border-blue);
  }

  & .f_icon {
    width: 12px;
    padding: 0;
    background: var(--white);
    display: none;
  }

  & .unread .topic {
    font-weight: bold;
  }

  & .topic {
    border-left: none;
  }

  & .last_post {
    width: 20vw;
    max-width: 250px;
  }

  & .last_post::first-letter {
    background: url("/Service/Themes/Default/icons/last.gif") center left
      no-repeat;
    padding-left: 15px;
  }

  & .item_1,
  & .item_2 {
    width: 10vw;
    max-width: 75px;
    text-align: center;
  }

  & .error {
    margin: 0;
    text-align: center;
    padding: 20px;
  }

  & .moderate.selected,
  & tr:hover .moderate {
    visibility: visible;
  }
}

.locked .topic > a:first-child::before {
  content: "🔒";
}

.pinned .topic > a:first-child {
  font-style: italic;

  &::before {
    content: "📌";
  }
}

.moderate {
  background: url("/Service/Themes/Default/icons/posticons.png");
  text-indent: -1000px;
  display: block;
  visibility: hidden;
  width: 16px;
  height: 16px;
  float: right;
}

/* Subforums (in forum listings) */
.subindex {
  width: 100%;
  border-collapse: collapse;
  font:
    1.2rem Arial,
    sans-serif;

  & td {
    border: 1px solid var(--border-blue);
  }

  & .last_post {
    padding: 10px;
    border-right: none;
  }

  & .last_post a {
    color: #e77700;

    &::first-letter {
      background: url("/Service/Themes/Default/icons/last.gif") center left
        no-repeat;
      padding-left: 15px;
    }
  }

  & .f_icon {
    border-style: solid none;
    width: 40px;
    vertical-align: middle;
    text-align: center;
  }

  & .forum {
    border-left: none;
    padding: 20px;
    padding-left: 10px;

    & a {
      font:
        1.4rem Arial,
        sans-serif;
    }
  }

  & .unread .forum a {
    font-weight: bold;
  }

  & .item_1,
  & .item_2 {
    font-size: 1.2rem;
    width: 20vw;
    max-width: 165px;
    text-align: center;
    padding: 5px 2px;
    border-right: none;
  }
}

/* Topic View */
#intopic {
  width: 100%;
  margin: auto;
  border-collapse: collapse;

  & .topic-post-row {
    clear: both;
  }

  & td {
    vertical-align: top;
    border: 1px solid var(--border-blue);
  }

  & .userdata {
    text-align: center;
    width: 150px;
  }

  & .avatar {
    margin-top: 10px;
  }

  & .username {
    background: var(--heading);
    padding: 3px;
    border-bottom: 1px solid var(--border-blue);
  }

  & .username a {
    font-weight: bold;
  }

  & .signature {
    font-size: smaller;
    display: inline-block;
    margin: 20px;
    border-top: 1px dashed #ccc;
  }

  & .edit,
  & .quotepost {
    padding-left: 18px;
    padding-bottom: 2px;
    background: url("/Service/Themes/Default/icons/posticons.png") no-repeat top
      left;
  }

  & textarea {
    width: 100%;
    height: 200px;
  }

  & .modpost.selected {
    color: #090;
  }

  & .quotepost {
    background-position: 0 -32px;
  }

  & .post {
    line-height: 140%;
    max-width: 700px;
  }

  & .attachment {
    font-size: smaller;
  }

  & .post_content {
    padding: 20px;
    overflow-wrap: anywhere;
    hyphens: auto;
  }

  & .posttop {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  & .post_buttons {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    gap: 5px;
    font-size: smaller;
    text-align: left;
    padding: 4px;
  }

  & .post_info {
    padding: 4px;
    text-align: right;
    color: #55c;
    font-size: smaller;
  }

  & .postbottom {
    height: 1em;
    text-align: right;
    border-top: hidden;
    padding: 5px;
  }

  /* Post Ratings */
  & .postrating {
    min-height: 1.4em;
    padding-left: 20px;

    & .form {
      display: none;
    }

    & .form img {
      opacity: 0.5;
    }

    & a:hover img {
      opacity: 1;
    }
  }

  & .topic-post-row:hover .postrating .showrating {
    display: none;
  }

  & .topic-post-row:hover .postrating .form {
    display: block;
  }

  & .opengraph {
    border: 1px solid var(--deep-purple);
    border-left-width: 5px;
    background: var(--purple);
    max-width: 80%;
    margin: 10px 0;
    padding: 10px;

    & img {
      max-width: 100%;
      max-height: 160px;
    }

    & h4 {
      margin: 1em 0;
      font-size: 1.2rem;
    }

    & p {
      font-size: 1.2rem;
    }

    & .remove {
      float: right;
    }
  }

  & .userstats {
    font-size: smaller;
    text-align: left;
    padding: 10px;
    background: var(--deep-purple);
    border: 1px solid var(--border-blue);
    margin: 10px;
  }

  & .usertitle {
    font-size: 0.6em;
  }
}

#topic-users-online .content {
  padding: 5px;
}

.postrating_list {
  position: absolute;
  overflow: hidden;
  background: #eef;
  border: 1px solid var(--border-blue);
  font-size: smaller;

  & .column {
    width: 90px;
    float: left;
  }

  & ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px dashed var(--border-blue);
  }
}

/* New topic, reply, quick reply buttons */
.topic-buttons-top,
.topic-buttons-bottom {
  margin: 10px;
  text-align: right;
}

.forum-buttons-top {
  text-align: right;
  margin: 10px;
}

.forum-buttons-top a,
.forum-buttons-bottom a,
.topic-buttons-top a,
.topic-buttons-bottom a,
.pages-top a,
.pages-bottom a {
  font-family: Consolas, monospace;
  background: black;
  padding: 5px;
  border: 1px solid #0f0;
  color: #0f0;
}

.topic-tools {
  float: right;
}

.topic-reply-form textarea {
  width: 100%;
  height: 200px;
}

#poll {
  margin-bottom: 10px;

  & .content {
    background: var(--black-bg-transparent);
    padding: 10px;
  }

  & .title,
  & .buttons {
    text-align: center;
  }

  & .choice {
    padding: 5px;
    margin-bottom: 10px;
    background: var(--deep-purple);
    border: 1px solid var(--border-blue);
  }

  & .choice:hover {
    background: var(--purple);
    border: 1px solid var(--black);
  }

  & table {
    border-collapse: collapse;
    background: var(--purple);
    width: 100%;
  }

  & td {
    border: 1px solid var(--border-blue);
    padding: 5px;
  }

  & .bar {
    background: linear-gradient(0deg, var(--black), #111);
    height: 16px;
    display: inline-block;
  }

  & .numvotes {
    width: 100px;
    text-align: center;
  }

  & .totalvotes {
    text-align: center;
    font-weight: bold;
  }
}

/* New Topic Form */
.topicform {
  border: 1px solid var(--border-blue);
  padding: 20px;

  & input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }

  & label {
    display: inline-block;
    width: 100px;
  }

  & textarea {
    height: 300px;
    width: 100%;
  }

  & .buttons {
    text-align: center;
    margin-top: 20px;
  }
}

.postoptions {
  margin-bottom: 10px;

  & .addpoll {
    padding: 0 20px;
    margin: 10px;
    background: url("/Service/Themes/Default/icons/postoptions.png") no-repeat
      top left;
  }
}

#polloptions {
  padding: 10px;
  background: var(--purple);
  border: 1px solid var(--border-blue);

  & textarea {
    height: 200px;
    width: 100%;
  }
}

#qreply {
  & .editor {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  & .editorframe,
  & textarea {
    flex: 1;
  }
}

/* New Post Form */
.postform {
  padding: 10px;

  & textarea {
    height: 300px;
    width: 100%;
  }

  & .buttons {
    text-align: center;
  }
}

/* Hide normal file input in favor of WYSIWYG attachments */
.js-enabled #attachfiles {
  display: none;
}

/* Search */
#searchresults .content {
  padding: 10px;
}

.searchresult {
  border-bottom: 1px solid var(--border-blue);
  padding: 10px;

  & .highlight {
    background: #ffa;
    color: #f00;
  }
}

#searchadvanced {
  width: 100%;
  margin: 10px;
  border-collapse: collapse;
  border-style: hidden;

  & label {
    display: inline-block;
    width: 50px;
  }

  & td {
    text-align: center;
    vertical-align: top;
    padding: 10px;
    border-right: 1px solid var(--black);
  }

  & th {
    text-align: center;
    padding-left: 10px;
  }
}

/* Ticker */
#ticker {
  & .tick {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 1px solid var(--border-blue);
  }

  & .tick-title {
    flex: 1;
    margin: 0 5px;
  }

  & .date {
    min-width: 100px;
    font-size: 1rem;
    padding-top: 3px;
  }

  & .by {
    overflow: hidden;
    text-align: right;
  }
}

/* Calendar */
.calendar {
  width: 100%;
  empty-cells: hide;

  & .month {
    font-size: 2.5rem;
    padding: 20px;
  }

  & th {
    text-align: center;
  }

  & td {
    height: 100px;
    width: 14%;
    border: 1px solid var(--black);

    & > div {
      height: 100%;
      position: relative;
    }
  }

  & .today {
    background: var(--deep-purple);
  }

  & .birthdays {
    font-size: smaller;

    &::before {
      content: "🎂";

      .no-emoji & {
        content: "Birthdays: ";
      }
    }
  }
}

/* Boxes/Collapse Boxes (Global) */

.box {
  margin: 10px 0;

  & > .title {
    position: relative;
    background: linear-gradient(45deg, var(--deep-purple), rgb(0 0 0 / 50%));
    padding: 7px;
    color: var(--text-color);

    & .x {
      background: url("/Service/Themes/Default/icons/collapse.png");
      position: absolute;
      top: 0.75em;
      right: 10px;
      width: 9px;
      height: 9px;
      text-indent: 10px;
      overflow: hidden;
      cursor: pointer;
    }
  }

  &.collapsed .title .x {
    background-position: 0 -9px;
  }

  & .content_top {
    display: none;
  }

  & .content {
    background: var(--black-bg-transparent);

    & > .error {
      margin: 0;
      padding: 10px;
    }
  }

  & .content_bottom {
    height: 5px;
  }
}

/* Function-Specific */
#notification,
#modbox {
  background: var(--purple);
  border: 1px solid var(--border-blue);
  bottom: 10px;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 20px;
  position: fixed;
  right: 10px;
  text-align: left;
  width: 280px;
}

#notification.newmessage {
  padding-left: 60px;
  background: url("/Service/Themes/Default/icons/newmessage.png") no-repeat 20px
    center var(--purple);
}

.pages .active {
  color: #f55;
  text-decoration: underline;
}

.pages-top,
.pages-bottom {
  position: absolute;
  margin-left: 10px;
}

.sort {
  background: url("/Service/Themes/Default/icons/collapse.png") no-repeat;
  padding-right: 18px;
  display: inline-block;
  background-position: right -56px;

  &.desc {
    background-position: right -30px;
  }
}

#status {
  display: block;
  background: url("/Service/Themes/Default/icons/status.png") top no-repeat;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  position: absolute;
  overflow: hidden;

  &.invisible {
    background-position: bottom;
  }
}

/* Login Form (Full) */
.login {
  & .content {
    padding: 10px;
  }

  & label {
    display: inline-block;
    width: 100px;
  }
}

/* Register Form */
.register {
  & .content {
    padding: 10px;
  }

  & .content label {
    display: inline-block;
    width: 100px;
  }
}

/* Users Online */
#statusers {
  display: inline;

  & a {
    margin-right: 5px;
    white-space: nowrap;

    &::after {
      content: ",";
    }

    &:last-child::after {
      content: "";
    }
  }

  & .idle {
    font-style: italic;
  }
}

#stats {
  & .content {
    padding: 20px;
  }

  & .userstoday {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid var(--border-blue);
  }

  & .stats {
    margin-top: 10px;
    padding: 10px 25px;
    background: url("/Service/Themes/Default/icons/boardstats.png") left center
      no-repeat;
    border-top: 1px solid var(--border-blue);
  }
}

/* Member List */
#memberlist {
  clear: both;

  & table {
    width: 100%;
    border-collapse: collapse;
  }

  & th {
    padding: 10px;
  }

  & .avatar {
    width: 50px;

    & img {
      max-width: 50px;
      max-height: 50px;
    }
  }

  & td {
    padding: 10px;
    border-top: 1px solid var(--border-blue);
  }
}

/* Member/Group Specific */
a.birthday::before {
  content: "🎂";
}

a.mgroup2 {
  color: #0f0;
}

a.mgroup4 {
  color: #a00;
  text-decoration: line-through;
}

/* BBcodes */
.quote {
  border: 1px solid var(--border-blue);
  background: var(--purple);
  padding: 10px;

  & .quotee {
    margin: -10px 0 10px -5px;
    font-weight: bold;
  }
}

.code {
  border: 1px solid var(--border-blue);
  background: var(--deep-purple);
  padding: 10px;
  font-family: Consolas, Fixedsys, monospace;
  font-size: 1.2rem;
  line-height: 1.5rem;
  white-space: preserve;
}

.spoilertext {
  display: inline-block;
  background: var(--deep-purple);
  color: var(--deep-purple);
  border: 1px solid var(--border-blue);

  & * {
    visibility: hidden;
  }

  &:hover,
  &.spoiled {
    background: none;
    color: inherit;

    & * {
      visibility: visible;
    }
  }
}

/* Contact icons */
.contact {
  background: url("/Service/Themes/Default/icons/contact.png") no-repeat;
  padding-left: 20px;
  min-height: 16px;

  &:hover {
    text-decoration: none;
  }

  &.im,
  &.pm {
    background-position: 0 -224px;
  }
}

.skype {
  background-position: 0 -32px;
}

.googlechat {
  background-position: 0 -64px;
}

.aim {
  background-position: 0 -96px;
}

.yim {
  background-position: 0 -128px;
}

.steam {
  background-position: 0 -160px;
}

.twitter {
  background-position: 0 -192px;
}

.discord {
  background-position: 0 -256px;
}

.youtube {
  background-position: 0 -298px;
}

.bluesky {
  background-position: 0 -320px;
}

/* Social icons */
.social {
  display: inline-block;
  background: url("/Service/Themes/Default/icons/social.png") no-repeat;
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: -1000px;
}

.rss {
  background-position: 0 0;
}

/* Tooltip */
.tooltip {
  position: absolute;
  border-width: 10px 10px 15px;
  border-style: solid;
  border-image: url("/Service/Themes/Default/img/tooltip.png") 20 fill;
  color: var(--text-color);
  max-width: 550px;
}

/* AutoComplete */
#autocomplete {
  position: absolute;
  border: 1px solid var(--black);
  background: var(--purple);
  text-align: left;

  & div {
    padding: 5px;
    cursor: pointer;
  }

  & div:hover,
  & div.selected {
    background: var(--deep-purple);
    border: 1px solid var(--border-blue);
    border-style: solid none;
  }
}

#validname {
  &.valid,
  &.invalid {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/Service/Themes/Default/icons/check_x.png") top center;
  }

  &.valid {
    background-position: bottom center;
  }
}

#searchform {
  & .content {
    padding: 10px;
  }

  & label {
    margin: 10px;
    display: inline-block;
  }
}

.editorframe {
  border: 1px solid var(--border-blue);
}
