<table class="settings">
  <tr>
    <td>
      Moderators:
    </td>
    <td>
      {{ MOD_LIST }}
      <br />
      <input type="text" name="name"
        data-autocomplete-action="searchmembers"
        data-autocomplete-output="#modid"
        data-autocomplete-indicator="#validname"
      />
      <input type="hidden" id="modid" name="modid" />
      <span id="validname"></span>
      <input type="submit" name="submit" value="Add Moderator" />
    </td>
  </tr>
  <tr>
    <td>Show "Forum Led By":</td>
    <td>
      <input {{ SHOW_LED_BY }} type="checkbox" class="switch yn"
      name="show_ledby" />
    </td>
  </tr>
</table>
