<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <title>
      <% BOARD_NAME %> - Admin Control Panel</title>
    <meta name="description" content="Staff Only" />
    <link rel="icon" type="image/x-icon" href="<% FAVICON_URL %>" />
    <link rel="stylesheet" type="text/css" href="<% CSS_URL %>" />
  </head>

  <body>
    <div id="container">
      <div id="login">
        <div id="logo"></div>
        <div id="loginform">
          <% CONTENT %>
          <form method="post">
            <label for="user">
              Username:
            </label>
            <input type="text" name="user" id="user" />
            <br />
            <label for="pass">
              Password:
            </label>
            <input type="password" name="pass" id="pass" />
            <br />
            <input type="submit" value="Login to the ACP" name="submit" />
          </form>
          <div class="goBack">
            <a class="goBackLink" href="<% BOARD_URL %>">Back to Board</a>
          </div>
        </div>
      </div>
    </div>
    <script type='text/javascript'>
    document.getElementById('user').focus()

    </script>
  </body>

</html>
