<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="https://support.jaxboards.com/Service/{{themePath}}" />
  <script type="text/javascript">var globalsettings={sound_im:1,wysiwyg:0};</script>
  <script type="text/javascript" src="https://test.jaxboards.test/dist/app.js"></script>
</head>
<body>
 <div id="container">
  <div class="head">
   <!--NAVIGATION-->

   <!--LOGO-->

   <!--USERBOX-->
  </div>
  <div class="bodyshad">
   <div id="body">
    <!--PATH-->
    <!--SHOUTBOX-->

    {{outlet}}

    <!--DEBUG-->
    <!--FOOTER-->
   </div>
  </div>
  <div class="c_bottom"></div>
 </div>
</body>
</html>
