<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml/" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="keywords" content="forum software, jaxboards, ajax, boards, forums, free, real time, real-time" />
<meta name="description" content="The world's very first instant forum." />
<link rel="stylesheet" type="text/css" href="https://support.jaxboards.com/Service/{{themePath}}" />
<title>{{title}}</title>
<script type="text/javascript">var globalsettings={sound_im:1,wysiwyg:0};</script>
<script type="text/javascript" src="https://test.jaxboards.test/dist/app.js"></script>
</head>
<body>
 <div id="container">
  <div class="head">
   <!--NAVIGATION-->

   <!--LOGO-->

   <!--USERBOX-->
  </div>
  <div class="bodyshad">
   <div id="body">
    <!--PATH-->
    <!--SHOUTBOX-->

    {{outlet}}

    <!--DEBUG-->
    <!--FOOTER-->
   </div>
  </div>
  <div class="c_bottom"></div>
 </div>
</body>
</html>
