<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml/" xml:lang="en" lang="en">
<head>
<base href="https://test.jaxboards.test/" src="https://test.jaxboards.test/">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="keywords" content="forum software, jaxboards, ajax, boards, forums, free, real time, real-time" />
<meta name="description" content="The world's very first instant forum." />
<link rel="stylesheet" type="text/css" href="Service/{{themePath}}" />
<title>{{title}}</title>
<script type="text/javascript" src="dist/app.js"></script>
</head>
<body>
 <div id="container">
  <div class="head">
   <!--NAVIGATION-->

   <!--LOGO-->

   <!--USERBOX-->
  </div>
  <div class="bodyshad">
   <div id="body">
    <!--PATH-->
    <!--SHOUTBOX-->
    {{#each categories as |category|}}
      {{#> collapse-box title=category.title}}
        <table class="boardindex">
          {{#each category.forums as |forum|}}
            {{#if category.redirect}}
              {{> idx-redirect-row forum=forum}}
            {{else}}
              {{> idx-row forum=forum}}
            {{/if}}
          {{/each}}
        </table>
      {{/collapse-box}}
    {{/each}}

    <!--DEBUG-->
    <!--FOOTER-->
   </div>
  </div>
  <div class="c_bottom"></div>
 </div>
</body>
</html>
