{{#each categories as |category|}}
  {{#> collapse-box title=category.title}}
    <table class="boardindex">
      {{#each category.forums as |forum|}}
        {{#if category.redirect}}
          {{> idx-redirect-row forum=forum}}
        {{else}}
          {{> idx-row forum=forum}}
        {{/if}}
      {{/each}}
    </table>
  {{/collapse-box}}
{{/each}}
