<form method='post'>
  <label for="skinname">Skin Name:</label>
  <input type="text" id="skinname" name="skinname" />
  <br>
  <label for="wrapper">Wrapper:</label>
  <select name="wrapper" id="wrapper" title="Choose wrapper for this new skin">
    {{ wrapper_options }}
  </select>
  <br>
  <label>
    Hidden:
    <input type="checkbox" class="switch yn" name="hidden" />
  </label>
  <br>
  <label>
    Default:
    <input type="checkbox" class="switch yn" name="default" />
  </label>
  <br>
  <input type="submit" name="submit" title="Create new skin" value="Create Skin" />
</form>
