<table class="wrappers">
  <tr>
    <th>
      Name
    </th>
    <th>
    </th>
    <th>
      Delete
    </th>
  </tr>
  {{ content }}
</table>
<br>
<form method="post">
  <input type="text" name="newwrapper" title="Name for new wrapper" />
  <input type="submit" title="Create new wrapper" value="Create Wrapper" />
</form>
<script type="text/javascript">
function edit(link, suffix)
{
  a = link.parentNode.querySelector('span');
  link.parentNode.removeChild(link);
  a.innerHTML = '<input type="text" name="rename' + suffix +
    '[' + a.innerHTML + ']" value="' + a.innerHTML + '" />';
  if (suffix == 'wrapper')
  {
    a.innerHTML = '<form method="post">' + a.innerHTML +
      '<input type="submit" value="Save" name="submit" /></form>';
  }
}

</script>
