<tr>
  <td>
    <span>
      {{ title }}
    </span>
    {{ custom }}
  </td>
  <td>
    <a href="?act=themes&editcss={{ id }}">
      {{ view_or_edit }}
      CSS
    </a>
  </td>
  <td>
    <select name='wrapper[{{ id }}]'>
      {{ default_option }}
      {{ wrapper_options }}
    </select>
  </td>
  <td>
    {{ delete }}
  </td>
  <td>
    <input {{ hidden_checked }} name="hidden[{{ id }}]"
      type="checkbox" class="switch yn"/>
  </td>
  <td>
    <input {{ default_checked }} type="radio" name="default" value="{{ id }}" />
  </td>
</tr>
