<div class="shout action" title="{{ timestamp }}">
    ***{%- include 'global/user-link.html.twig' with { user } only %}
    {{ shout.shout|slice(4)|theWorksInline }}
    {%- include 'shoutbox/shout-delete.html.twig' with { shout } only -%}
</div>
