<div class="shout" data-timestamp="{{ timestamp }}">
    {%- if avatarsEnabled -%}
        {% include "avatar.html.twig" with { avatar: user.avatar } %}
    {%- endif -%}
    {%- include 'user-link.html.twig' with { user: user } only -%}
    : {{ shout.shout|theWorksInline }}
    {%- if canDelete -%}
        {%- include 'shoutbox/shout-delete.html.twig' with { shout } -%}
    {%- endif -%}
</div>
