<label>
    Show Birthday Icon
    <input
      type="checkbox"
      class="switch yn"
      name="bicon"
      {% if birthdays %}checked{% endif %}
    >
</label>
<br>
<input type="submit" value="Save" name="submit">
