<tr>
    <td>
        {{ act }}
    </td>
    <td>
        <a href="../{{ act }}">View</a>
    </td>
    <td>
        <a href="/ACP/Settings/pages?page={{ act }}">Edit</a>
    </td>
    <td>
        <a onclick="return confirm('You sure?');" href="/ACP/Settings/pages?delete={{ act }}">Delete</a>
    </td>
</tr>
