<p>
  This tool will allow you to download and save a backup of your forum
  in
  case
  something happens.
</p>
<form method="post" onsubmit="this.submit.disabled=true;">
  <input type="hidden" name="dl" value="1">
  <input type="submit" name="submit" value="Download Backup" onmouseup="this.value='Generating backup...';">
</form>
