<div class="box" id="searchform">
  <div class="title">
    Board Search
  </div>
  <div class="content_top">
  </div>
  <div class="content">
    <form method="post" data-ajax-form="true">
      <input type="hidden" name="act" value="search">
      <label for="searchterm">
        Search Terms:
      </label>
      <input type="text" id="searchterm" name="searchterm" value="%1$s">
      <input type="submit" value="Search">
      &nbsp; &nbsp;
      <button type="button" onclick="document.querySelector('#searchadvanced').classList.toggle('display-none')">
        Advanced
      </button>
      <table id="searchadvanced" class="display-none">
        <tr>
          <th>
            In forum(s):
          </th>
          <th>
            Date Range
          </th>
          <th>
            Filters:
          </th>
        </tr>
        <tr>
          <td>
            %2$s
          </td>
          <td>
            <label for="datestart">
              From:
            </label>
            <input id="datestart" name="datestart" title="From Date" type="date">
            <br>
            <label for="dateend">
              To:
            </label>
            <input id="dateend" name="dateend" title="To Date" type="date">
          </td>
          <td>
            Posted by:
            <input type="text" title="Posted By" data-autocomplete-action="searchmembers"
              data-autocomplete-output="#mid">
            <input type="hidden" id="mid" name="mid">
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="content_bottom"></div>
</div>
<div id="searchresults">
  %3$s
</div>
