<div class="box" id="searchform">
  <div class="title">
    Board Search
  </div>
  <div class="content_top">
  </div>
  <div class="content">
    <form method="post" data-ajax-form="true">
      <input type="hidden" name="act" value="search" />
      <label for="searchterm">
        Search Terms:
      </label>
      <input type="text" id="searchterm" name="searchterm" value="%1$s" />
      <input type="submit" value="Search" />
      &nbsp; &nbsp;
      <button type="button" onclick="document.querySelector('#searchadvanced').classList.toggle('display-none')">
        Advanced
      </button>
      <table id="searchadvanced" class="display-none">
        <tr>
          <th>
            In forum(s):
          </th>
          <th>
            Date Range
          </th>
          <th>
            Filters:
          </th>
        </tr>
        <tr>
          <td>
            %2$s
          </td>
          <td>
            <label>
              From:
            </label>
            <input type="text" class="date" name="datestart" />
            <br />
            <label>
              To:
            </label>
            <input type="text" class="date" name="dateend" />
          </td>
          <td>
            Posted by:
            <input type="text"
              data-autocomplete-action="searchmembers"
              data-autocomplete-output="#mid"
            />
            <input type="hidden" id="mid" name="mid" />
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="content_bottom"></div>
</div>
<div id="searchresults">
  %3$s
</div>
