<form method="post" data-ajax-form="true">
  %s
  <table class="listing">
    <tr>
      <th class="center" width="5%%">
        <input
          onChange="document.querySelectorAll('.check').forEach(checkbox => checkbox.checked = this.checked)"
          title="Select All Messages"
          type="checkbox"
          />
      </th>
      <th width="5%%">
        Flag
      </th>
      <th width="45%%">
        Title
      </th>
      <th width="20%%">
        %s
      </th>
      <th width="25%%">
        Date Sent
      </th>
    </tr>
    %s
    <tr>
      <td>
      </td>
      <td colspan="4">
        <input type="submit" value="Delete Messages" title="Delete Messages" />
      </td>
    </tr>
  </table>
</form>
