<div class="composeform">
  <form method="post" data-ajax-form="true">
    %1$s
    <div>
      <label for="to">
        To:
      </label>
      <input type="hidden" id="mid" name="mid" value="%2$s" />
      <input type="text" id="to" name="to" title="To Member" value="%3$s" autocomplete="off"
        data-autocomplete-action="searchmembers"
        data-autocomplete-output="#mid"
        data-autocomplete-indicator="#validname"
      />
      <span id="validname" class="%4$s">
      </span>
    </div>
    <div>
      <label for="title">
        Title:
      </label>
      <input type="text" id="title" name="title" title="Message Title" value="%5$s" />
    </div>
    <div>
      <textarea id="message" name="message" title="Message Body" class="bbcode-editor">%6$s</textarea>
    </div>
    <input type="submit" value="Send" />
  </form>
</div>
