<form method="post" data-ajax-form="true">
    <div class="username">{{ user.displayName }}</div>
    <div class="avatar">
        {% include "avatar.html.twig" with { avatar } %}
    </div>
    <textarea
        id="notepad"
        title="Notepad"
        name="ucpnotepad"
        placeholder="Personal notes go here"
        class="bbcode-editor"
    >{{ user.ucpnotepad }}</textarea>
    <input type="submit" value="Save">
</form>
