<form method="post" data-ajax-form="true">
  %s
  <h2>Name:</h2>
  <div>
    <label for="username">Your username:</label>
    <input type="text" id="username" value="%s" disabled>
  </div>
  <div>
    <label for="displayname">
      Display name:
    </label>
    <input type="text" name="display_name" title="Display Name" id="displayname" value="%s" />
  </div>
  <div>
    <label for="realname">
      Real name:
    </label>
    <input type="text" name="full_name" title="Real Name" id="realname" value="%s" />
  </div>
  <div>
    <label for="usertitle">
      Title:
    </label>
    <input type="text" name="usertitle" title="User Title" id="usertitle" value="%s" />
  </div>
  <h2>About you:</h2>
  <div class="description">
    <textarea rows="10" cols="60" name="about" title="About You" id="about" class="bbcode-editor">%s</textarea>
    <h2>Location</h2>
    <input type="text" name="location" title="Location" value="%s" />
    <h2>Gender</h2>
    %s
    <h2>Date of Birth:</h2>
    %s
    <h2>Contact Details (Optional)</h2>
    <div id="contact_details">
      <div class="contact skype">
        <label for="contactSkype">
          Skype:
        </label>
        <input type="text" name="contactSkype" id="contactSkype" value="%s" />
      </div>
      <div class="contact discord">
        <label for="contactDiscord">
          Discord:
        </label>
        <input type="text" name="contactDiscord" id="contactDiscord" value="%s" />
      </div>
      <div class="contact yim">
        <label for="contactYIM">
          YIM:
        </label>
        <input type="text" name="contactYIM" id="contactYIM" value="%s" />
      </div>
      <div class="contact msn">
        <label for="contactMSN">
          MSN:
        </label>
        <input type="text" name="contactMSN" id="contactMSN" value="%s" />
      </div>
      <div class="contact gtalk">
        <label for="contactGoogleChat">
          Google Chat:
        </label>
        <input type="text" name="contactGoogleChat" id="contactGoogleChat" value="%s" />
      </div>
      <div class="contact aim">
        <label for="contactAIM">
          AIM:
        </label>
        <input type="text" name="contactAIM" id="contactAIM" value="%s" />
      </div>
      <div class="contact youtube">
        <label for="contactYoutube">
          YouTube:
        </label>
        <input type="text" name="contactYoutube" id="contactYoutube" value="%s" />
      </div>
      <div class="contact steam">
        <label for="contactSteam">
          Steam:
        </label>
        <input type="text" name="contactSteam" id="contactSteam" value="%s" />
      </div>
      <div class="contact twitter">
        <label for="contactTwitter">
          Twitter:
        </label>
        <input type="text" name="contactTwitter" id="contactTwitter" value="%s" />
      </div>
      <div class="contact bluesky">
        <label for="contactBlueSky">
          Bluesky:
        </label>
        <input type="text" name="contactBlueSky" id="contactBlueSky" value="%s" />
      </div>
    </div>
    <h2>Website</h2>
    <label for="website">
      Your website:
    </label>
    <input type="text" name="website" id="website" value="%s" />
  </div>
  <div>
    <input name="submit" type="submit" value="Save Profile Settings" />
  </div>
</form>
