<div class="box register">
    {if %1$s!=""}
    <script src='https://www.hCaptcha.com/1/api.js' async defer></script>
    {/if}
    <div class="title">
        Registration
    </div>
    <div class="content">
        <form method="post" data-ajax-form="true">
            <input type="hidden" name="register" value="true">
            <div style="display:none">
                <input type="text" id="username">
            </div>
            <label for="name">
                Username:
            </label>
            <input type="text" name="name" id="name" onkeyup="this.form.display_name.value=this.value">
            <br>
            <label for="display_name">
                Display Name:
            </label>
            <input type="text" name="display_name" id="display_name">
            <br>
            <label for="pass1">
                Password:
            </label>
            <input type="password" name="pass1" id="pass1">
            <br>
            <label for="pass2">
                Confirm:
            </label>
            <input type="password" name="pass2" id="pass2">
            <br>
            <label for="email">
                Email:
            </label>
            <input type="text" name="email" id="email">
            {if %1$s!=""}
            <br>
            <br>
            <div class="h-captcha" data-sitekey="753ac29e-dd30-49ac-9c5a-6aea4b0011ec"></div>
            {/if}
            <br>
            <input type="submit" value="Register">
        </form>
    </div>
</div>
