{% if error %}
    {% include "error.html.twig" with { message: error } %}
{% endif %}
<form method="post" data-ajax-form="true">
    <input type="hidden" name="submit" value="1">
    <label for="skin">Board Skin:</label>
    {% if skins %}
        <select name="skin" id="skin" title="Board Skin">
            {% for skin in skins %}
                <option
                    value="{{ skin.id }}"
                    {% if skin.id == user.skinID %}selected{% endif %}
                >
                    {{- skin.title -}}
                    {%- if skin.hidden%} (hidden){%- endif -%}
                </option>
            {% endfor %}
        </select>
    {% else %}
        -- No Skins --
    {% endif %}
    <br>
    <br>
    <label for="usewordfilter">Use word filter:</label>
    <input
        type="checkbox"
        name="usewordfilter"
        id="usewordfilter"
        title="Use Word Filter"
        {% if user.nowordfilter == 0 %}checked{% endif %}
    >
    <br>
    <br>
    <label for="wysiwyg">WYSIWYG Enabled by Default:</label>
    <input
        type="checkbox"
        name="wysiwyg"
        id="wysiwyg"
        title="WYSIWYG Enabled"
        {% if user.wysiwyg > 0 %}checked{% endif %}
    >
    <br>
    <br>
    <label for="itemsPerPage">Items per page:</label>
    <select name="itemsPerPage" id="itemsPerPage">
      <option value="">Default</option>
      {% for value in [10, 20, 50] %}
        <option value="{{ value }}" {% if user.itemsPerPage == value %}selected{% endif %}>{{ value }}</option>
      {% endfor %}
    </select>
    <br>
    <br>
    <input type="submit" value="Save">
</form>
