:root {
  /* Taken from https://github.com/system-fonts/modern-font-stacks */
  --neo-grotesque:
    Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
    sans-serif;
  --monospace-code:
    ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
}

html,
body {
  font-size: 1em;
}

html {
  height: 100%;
}

body {
  background: url("../img/loginglow.png") center no-repeat #274463;
  font-family: var(--neo-grotesque);
  height: 100%;
  margin: 0;
}

input[type="submit"] {
  background: url("../img/buttonbg.png");
  border-radius: 0.25em;
  border: 1px solid #000;
  color: #fff;
  margin-top: 30px;
}

label {
  display: inline-block;
  text-align: left;
  width: 130px;
}

#container {
  height: 100%;
  position: relative;
}

#login {
  background: #fff;
  border: 1px solid #000;
  height: 300px;
  left: 50%;
  margin: -150px 0 0 -250px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 500px;
}

#loginform {
  padding: 40px 0;
}

#logo {
  background: url("../img/loginlogo.png") center;
  border: 1px solid #2d4669;
  height: 90px;
}

.error {
  background: #fdd;
  border: 1px solid #f00;
  color: #f00;
  margin: -20px 5px 20px;
  padding: 5px;
}

.goBack {
  margin: 1em auto;
}

.goBackLink {
  font-size: 0.75em;
  padding: 1ch 1em;
}
