<div class="contact-card">
  <table>
    <tr>
      <td class="left">
        <div class="username">
          %1$s
        </div>
        <div class="avatar">
          <img src="%2$s" />
        </div>
        <div class="usertitle">
          %3$s
        </div>
      </td>
      <td class="right">
        <a href="javascript:void(0)" data-window-close="true" onclick="new IMWindow('%4$s',this.innerHTML.match(/IM (.+)/)[1]);">
          IM %1$s
        </a>
        <br />
        <a href="?act=ucp&what=inbox&page=compose&mid=%4$s" data-window-close="true">
          PM %1$s
        </a>
        <br />
        <br />
        %6$s
        <br />
        %7$s
        <br />
        <br />
        <a href="?act=vu%4$s&view=profile" data-window-close="true">
          Full Profile
        </a>
        <div class="contact_details">
          %5$s
        </div>
      </td>
    </tr>
  </table>
</div>
