<section class="shoutbox">
  <div class="shouts">
      {{ shouts|raw }}
  </div>
  <div class="shoutform">
    <form method="post" action="" data-ajax-form="resetOnSubmit">
      <input type="text" maxlength="255" name="shoutbox_shout" title="Type your shout here" aria-label="Shoutbox input"
        autocomplete="off">
      <input type="submit" title="Post your shout!" value="Shout">
    </form>
  </div>
</section>
