<div class="userprofile">
  <div class="leftbar">
    <div class="username">
      %1$s %22$s
    </div>
    <div class="avatar">
      <img src="%2$s" />
    </div>
    <div class="usertitle">
      %3$s
    </div>
    <div class="infobox contact">
      Contact Details:
      <div class="content">
        %4$s
      </div>
    </div>
    <div class="infobox personal">
      Personal info:
      <div class="content">
        <div>
          Full name: %5$s
        </div>
        <div>
          Gender: %6$s
        </div>
        <div>
          Location: %7$s
        </div>
        <div>
          DOB: %8$s
        </div>
        <div>
          Site: %9$s
        </div>
      </div>
    </div>
    <div class="infobox stats">
      Stats:
      <div class="content">
        <div>
          Joined: %10$s
        </div>
        <div>
          Last Visit: %11$s
        </div>
        <div>
          Member: #%12$s
        </div>
        <div>
          Posts: %13$s
        </div>
        <div>
          Group: %14$s
        </div>
      </div>
    </div>
  </div>
  <div class="rightbar pftabs" onclick="JAX.handleTabs(event,this)">
    %15$s%16$s%17$s%18$s%19$s%20$s
  </div>
  <div class="rightbar" id="pfbox">
    %21$s
  </div>
  <div class="clear">
  </div>
