<div class="sidebar">
  <a href="?" class="icons home" title="ACP Home">ACP Home</a>
  <ul>
    {% for do, title in menu %}
      <li>
        <a href="/ACP/{{ category }}/{{ do }}">{{ title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
