<form method="post">
  <table id="files">
    <tr>
      <th>Filename</th>
      <th>ID</th>
      <th>Size</th>
      <th>Downloads</th>
      <th>Uploader</th>
      <th>Linked in</th>
      <th>Delete</th>
    </tr>
    {{ content }}
    <tr>
      <td colspan="3">
      </td>
      <td>
        <input type="submit" value="Save Changes" title="Save">
      </td>
      <td colspan="3">
      </td>
  </table>
</form>
