<a href="{{ url('profile', { id:  user.id }) }}">
  <div class="contact {{ class }}">
    {% include "avatar.html.twig" with { avatar: user.avatar } %}
    <div class="name">
      {{ user.displayName }}
    </div>
    <div class="status">
      {{ user.usertitle }}
    </div>
  </div>
</a>
