<div class="contact {{ class }}">
    <a href="{{ url('profile', { id:  user.id }) }}">
        <div class="avatar">
            {% include "avatar.html.twig" with { avatar: user.avatar } %}
        </div>
        <div class="name">
            {{ user.displayName }}
        </div>
        <div class="status">
            {{ user.usertitle }}
        </div>
</div>
