name: Lint & Test

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-linters:
    name: Lint & Test
    runs-on: ubuntu-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    if: github.event.pull_request.draft == false
    steps:
      - uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: jq
          version: 1.0
      - uses: actions/checkout@v4
        with:
          # disable shallow clones for better SonarQube analysis
          fetch-depth: 0
          ref: ${{ github.head_ref }}
          token: ${{ secrets.WTL420_PERSONAL_ACCESS_TOKEN }}
      - uses: shivammathur/setup-php@v2
        with:
          extensions: mbstring
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - uses: ramsey/composer-install@v3
      - run: bun install --frozen-lockfile
      - run: ./cli composer-version update
      # get the package-lock.json and composer.lock files up to date
      - run: bun install --frozen-lockfile --ignore-scripts --package-lock-only
      - run: composer update --lock
      # run install _again_ due to --package-lock-only above
      - run: bun install --frozen-lockfile
      - run: echo "BRANCH=$(echo ${GITHUB_REF##*/})" >> $GITHUB_ENV
      - run: echo "VERSION=$(./cli greater-version composer.json package.json)" >> $GITHUB_ENV
      - if: env.BRANCH == 'main'
        run: |
          jq ".version = \"$VERSION\"" composer.json > /tmp/composer.json && \
          mv /tmp/composer.json composer.json
        shell: bash
      - if: env.BRANCH == 'main'
        run: |
          jq ".version = \"$VERSION\"" package.json > /tmp/package.json && \
          mv /tmp/package.json package.json
        shell: bash
      - run: composer run-script --no-interaction autofix
      - run: composer run-script --no-interaction format
      - run: bun run autofix
      - run: bun run format
      - run: bun run build
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
      - run: |
          echo "[]" > eslint-report.json &&
          echo "[]" > stylelint-report.json
        shell: bash
      - run: bun run ci-lint
      - run: bun test --coverage
      - run: composer run-script ci-lint
      - run: composer run-script test
      - name: SonarQube Scan
        if: ${{ !cancelled() }}
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - ready_for_review
      - reopened
      - synchronize
